<div style="margin: 0px -10px; display: flex; flex-wrap: wrap; box-sizing: border-box; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!-- 전체 -->

  <!-- 왼쪽: 프로필 카드 파트 -->
  <div style="width: 25%; padding-left: 10px; padding-right: 10px; position: relative; padding-top: 30px;">
    <div style="position: sticky; top: 160px; transition: top 0.1s;">
      <div style="position: relative;">
        <div>
          <div style="padding: 30px 25px 18px; border-radius: 4px; border: 1px solid rgb(218, 220, 224); box-shadow: rgba(63, 71, 77, 0.06); position: relative;">
            <div style="padding: 0px; min-height: 120px; position: relative; margin: 0 0 20px;">
              <!-- 프로필 이미지 영역 -->
              <div style="width: 120px; height: 120px; position: relative; margin: 0 auto 24px; top: 0px; left: 0px; border-radius: 100%; background-color: rgb(237, 237, 237); overflow: hidden;">
                <%= image_tag url_for(@user.profile_image), 
                              alt: "プロフィール画像", 
                              class: "rounded-circle", 
                              style: "width: 120px; height: 120px; object-fit: cover; border: 1px solid rgba(0, 0, 0, 0.1);" %>
              </div>
              <!-- 사용자 닉네임 영역 -->
              <div style="text-align: center;">
                <div style="line-height: 1.15; margin: 0 0 10px; font-size: 20px; font-weight: bold; color: rgb(41, 41, 41); overflow-wrap: break-word; word-break: break-all;">
                  <%= @user.nickname %>
                </div>
              </div>

              <div style="margin: 24px 0px;
                  text-align: center;     color: rgb(66, 66, 66);
                  font-size: 15px;
                  line-height: 1.4;
                  font-weight: 400;
                  word-break: break-word;"><!-- 자기소개~에스엔에스 -->
                <p class="mb-1">
                  <%= @user.introduction.presence %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 중간: 빈 공간 파트 -->
  <div style="width: 8.333333333333332%; padding-left: 10px; padding-right: 10px; position: relative; padding-top: 30px;"></div>

  <!-- 오른쪽: 사진, 좋아요, 북마크 파트 -->
  <div style="width: 66.66666666666666%; padding-left: 10px; padding-right: 10px; position: relative;">
    <div style="max-width: 720px; margin: 0 auto 40px; padding: 0;">
      <div style="padding: 0px 10px">
        <div style="margin: 40px auto 60px; width: 100%; max-width: 600px;">
          <div class="d-flex justify-content-between">
            <h1 style="margin: 0 0 30px; font-size: 18px; line-height: 24px; font-weight: bold; color: #2f3438;">
              <%= @user.nickname %>さんのコメント一覧
            </h1>
            <div class="ms-auto" style="margin: 0 0 30px; font-size: 18px; line-height: 24px;">
              <%= link_to "戻る", admin_users_dashboard_path, 
                          class: "d-flex align-items-center btn", 
                          style: "font-size: 14px;
                                  line-height: 18px;
                                  color: #2F3438;
                                  padding: 5px 10px;
                                  border: 1px solid rgb(230, 230, 230);" %>
            </div>
          </div>

          <% @comments.each do |comment| %>
            <div class="d-flex justify-content-between" style="border-bottom:1px solid #eee;">

              <div class="d-flex">
                <div class="p-2">
                  <div class="d-flex align-items-center">
                    <strong><%= comment.comment %></strong>
                  </div>
                  <div style="font-size: 12px;">
                    <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
                  </div>
                </div>
              </div>

              <div class="ms-auto" style="display: flex; align-items: center;">
                <% if comment.deleted == false %>
                  <%= link_to '削除', comment_destroy_admin_user_card_collection_comment_path(@user, comment), 
                              method: :patch, 
                              data: { confirm: '本当に削除しますか？' },
                              class: "btn",
                              style: "margin: 0px;
                                      border: none;
                                      background: none rgb(10, 165, 255);
                                      font-size: 14px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 30px;
                                      border-radius: 4px;
                                      padding: 0px 10px;
                                      color: #fff;
                                      font-weight: 700;
                                      width: 100px;" %>
                <% else %>
                  <%= link_to '復元', comment_restoration_admin_user_card_collection_comment_path(@user, comment), 
                              method: :patch, 
                              data: { confirm: '本当に復元しますか？' },
                              class: "btn",
                              style: "margin: 0px;
                                      background: none;
                                      font-size: 14px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 30px;
                                      border-radius: 4px;
                                      padding: 0px 10px;
                                      color: rgb(47, 52, 56);
                                      border: 1px solid rgb(230, 230, 230);
                                      font-weight: 400;
                                      width: 100px;" %>
                <% end %>
              </div>

            </div>
          <% end %>

          <% @replycomments.each do |comment| %>
            <div class="d-flex justify-content-between" style="border-bottom:1px solid #eee;">

              <div class="d-flex">
                <div class="p-2">
                  <div class="d-flex align-items-center">
                    <strong><%= comment.comment %></strong>
                  </div>
                  <div style="font-size: 12px;">
                    <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
                  </div>
                </div>
              </div>

              <div class="ms-auto" style="display: flex; align-items: center;">
                <% if comment.deleted == false %>
                  <%= link_to '削除', reply_destroy_admin_user_card_collection_comment_path(@user, comment), 
                              method: :patch, 
                              data: { confirm: '本当に削除しますか？' },
                              class: "btn",
                              style: "margin: 0px;
                                      border: none;
                                      background: none rgb(10, 165, 255);
                                      font-size: 14px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 30px;
                                      border-radius: 4px;
                                      padding: 0px 10px;
                                      color: #fff;
                                      font-weight: 700;
                                      width: 100px;" %>
                <% else %>
                  <%= link_to '復元', reply_restoration_admin_user_card_collection_comment_path(@user, comment), 
                              method: :patch, 
                              data: { confirm: '本当に復元しますか？' },
                              class: "btn",
                              style: "margin: 0px;
                                      background: none;
                                      font-size: 14px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 30px;
                                      border-radius: 4px;
                                      padding: 0px 10px;
                                      color: rgb(47, 52, 56);
                                      border: 1px solid rgb(230, 230, 230);
                                      font-weight: 400;
                                      width: 100px;" %>
                <% end %>
              </div>

            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
