<%= form_with model: @card_collection, local: true, html: { multipart: true } do |f| %>
  <div>
    <label>自分のPCから写真を投稿する（最大10枚）</label><br>
    <div id="file_fields_container">
      <% @card_collection.photos.each_with_index do |photo, index| %>
        <div data-index="<%= index %>">
          <!-- 기존 첨부 id와 현재 상태 flag (기본값 0: 변경없음) -->
          <input type="hidden" name="card_collection[existing_photo_ids][]" value="<%= photo.id %>">
          <input type="hidden" name="card_collection[flags][]" value="0" class="flag-input">
          
          <input type="file" name="card_collection[photos][]" id="card_collection_photos_<%= index %>" accept="image/*">
          <div id="preview_<%= index %>">
            <% if photo.present? %>
              <%= image_tag url_for(photo), style: "max-width:200px; display:block;" %>
            <% end %>
          </div>
          <textarea name="card_collection[contents][]" placeholder="写真の内容" id="content_<%= index %>">
            <%= @card_collection.contents[index] %>
          </textarea>
          <button type="button" class="delete-field-button" data-index="<%= index %>">削除</button>
        </div>
      <% end %>
      <!-- 새 필드 추가 시 flag 입력은 별도로 1 (추가/수정)로 지정하도록 처리 -->
    </div>
    <button type="button" id="add_photo_field">+</button>
  </div>
  <div>
    <%= f.label :layout, "レイアウト" %><br>
    <%= f.select :layout, options_for_select(["1R", "1K/1DK", "1LDK/2DK", "2LDK", "3LDK以上"], @card_collection.layout) %>
  </div>
  <div>
    <%= f.label :theme, "テーマ" %><br>
    <%= f.select :theme, options_for_select(["お部屋写真", "収納TIP", "ペット", "プラントテリア", "その他"], @card_collection.theme) %>
  </div>
  <div class="actions">
    <%= f.submit "投稿する", id: "submit_btn" %>
  </div>
<% end %>

<script>
  // 예시: 삭제 버튼 클릭 시 해당 필드의 flag 값을 2로 변경하고 필드를 화면에서 숨기기
  document.addEventListener("turbolinks:load", function() {
    var container = document.getElementById("file_fields_container");
    container.querySelectorAll(".delete-field-button").forEach(function(btn) {
      btn.addEventListener("click", function(e) {
        e.preventDefault();
        var field = this.parentNode;
        // 해당 필드의 flag 입력값을 2 (삭제)로 설정
        var flagInput = field.querySelector(".flag-input");
        if (flagInput) { flagInput.value = "2"; }
        // UI 상에서는 해당 필드를 숨깁니다.
        field.style.display = "none";
      });
    });
    // "+" 버튼 클릭 시 새 필드 생성 (flag 기본값은 1: 추가)
    var addButton = document.getElementById("add_photo_field");
    addButton.addEventListener("click", function(e) {
      e.preventDefault();
      var index = container.querySelectorAll('div[data-index]').length;
      var div = document.createElement("div");
      div.setAttribute("data-index", index);
      div.innerHTML =
        // 신규 필드는 기존 id가 없으므로 hidden id input 생략하고, flag는 1 (추가)로 설정
        '<input type="hidden" name="card_collection[flags][]" value="1" class="flag-input">' +
        '<input type="file" name="card_collection[photos][]" id="card_collection_photos_' + index + '" accept="image/*">' +
        '<div id="preview_' + index + '"></div>' +
        '<textarea name="card_collection[contents][]" placeholder="写真の内容" id="content_' + index + '"></textarea>' +
        '<button type="button" class="delete-field-button" data-index="' + index + '">削除</button>';
      container.appendChild(div);
      // 신규 필드에도 삭제 이벤트를 부착
      div.querySelector(".delete-field-button").addEventListener("click", function(e) {
        e.preventDefault();
        var field = this.parentNode;
        var flagInput = field.querySelector(".flag-input");
        if (flagInput) { flagInput.value = "2"; }
        field.style.display = "none";
      });
    });
  });
</script>