<% if @card_collection.errors.any? || @card_collection.card_images.any? { |ci| ci.errors.any? } %>
  <div id="error_explanation" style="border: 1px solid red; padding: 10px; margin-bottom: 20px;">
    <h2>
      <%= pluralize(@card_collection.errors.count + @card_collection.card_images.map { |ci| ci.errors.count }.sum, "error") %> prohibited this card collection from being saved:
    </h2>
    <ul>
      <% @card_collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @card_collection.card_images.each do |ci| %>
        <% ci.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @card_collection, local: true, html: { multipart: true } do |f| %>
  <!-- 기본 속성 입력 -->
  <div>
    <%= f.label :layout, "レイアウト" %><br>
    <%= f.select :layout, options_for_select(["1R", "1K/1DK", "1LDK/2DK", "2LDK", "3LDK以上"], @card_collection.layout) %>
  </div>
  <div>
    <%= f.label :theme, "テーマ" %><br>
    <%= f.select :theme, options_for_select(["お部屋写真", "収納TIP", "ペット", "プラントテリア", "その他"], @card_collection.theme) %>
  </div>

  <!-- CardImage 입력 영역 (nested fields) -->
  <div id="card_images_container">
    <%= f.fields_for :card_images do |ci| %>
      <div class="card-image-field" data-index="<%= ci.index %>">
        <%= ci.file_field :image, accept: "image/*", onchange: "previewImage(this, 'preview_#{ci.index}')" %>
        <div id="preview_<%= ci.index %>">
          <% if ci.object.image.attached? %>
            <%= image_tag url_for(ci.object.image), style: "max-width:200px; display:block;" %>
          <% end %>
        </div>
        <%= ci.text_area :content, placeholder: "사진의 내용" %>
      </div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "저장" %>
  </div>
<% end %>


<script>
  function previewImage(input, previewId) {
    var previewDiv = document.getElementById(previewId);
    previewDiv.innerHTML = "";
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var img = document.createElement("img");
        img.src = e.target.result;
        img.style.maxWidth = "200px";
        img.style.display = "block";
        previewDiv.appendChild(img);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>