<%= form_with model: @card_collection, local: true, html: { multipart: true } do |f| %>
  <% if @card_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card_collection.errors.count, "error") %> prevented this card collection from being saved:</h2>
      <ul>
        <% @card_collection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- 파일 입력 필드 영역: 10개 미리 생성, 초기에는 첫 번째만 보임 -->
  <div>
    <label>自分のPCから写真を投稿する（最大10枚）</label><br>
    <div id="file_fields_container">
      <% 10.times do |i| %>
        <div data-index="<%= i %>" style="<%= i == 0 ? '' : 'display:none;' %>">
          <%= file_field_tag "card_collection[photos][]", id: "card_collection_photos_#{i}", accept: "image/*" %>
          <div id="preview_<%= i %>"></div>
        </div>
      <% end %>
    </div>
    <!-- +, - 버튼 -->
    <button type="button" id="add_photo_field">+</button>
    <button type="button" id="remove_photo_field">-</button>
  </div>

  <!-- 투고 내용 입력 -->
  <div>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </div>

  <!-- 레이아웃 입력 -->
  <div>
    <%= f.label :layout, "レイアウト" %><br>
    <%= f.select :layout, options_for_select(["1R", "1K/1DK", "1LDK/2DK", "2LDK", "3LDK以上"]) %>
  </div>

  <!-- 테마 입력 -->
  <div>
    <%= f.label :theme, "テーマ" %><br>
    <%= f.select :theme, options_for_select(["お部屋写真", "収納TIP", "ペット", "プラントテリア", "その他"]) %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", id: "submit_btn" %>
  </div>
<% end %>

<!-- 자바스크립트 팩을 포함 (Webpacker 사용 시) -->
<%= javascript_pack_tag "card_collection" %>
