<div style="max-width: 720px; margin: 0 auto 40px; padding: 0;">
  <div><!-- 게시글내용 -->


    <div style="margin: 48px 0px 10px;">
      <div style="display: flex; justify-content: flex-end; position: relative;">
        <% if @card_collection.user == current_user %>
          <button data-bs-toggle="dropdown" data-bs-display="static" style="border: none; background: transparent; padding: 0;">
            <i class="fa-solid fa-ellipsis-h" style="font-size: 18px; color: #333;"></i>
          </button>
        <% end %>
        <ul class="dropdown-menu" style="min-width: 8rem; padding: 8px; position: absolute; top: 0; right: 0; margin: 1.5rem 0 0; left: auto;">
          <% if @card_collection.user == current_user %>
            <div>
              <div style="padding: 16px; font-size: 16px; line-height: 20px;">
                <%= link_to "編集する", edit_card_collection_path(@card_collection) %>
              </div>
              <div style="padding: 16px; font-size: 16px; line-height: 20px;">
                <%= link_to '削除', card_collection_path(@card_collection), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "text-danger" %>
              </div>
            </div>
          <% end %>
        </ul>
      </div>
  
    </div>

    
    <% if @card_collection.card_images.where.not(position: nil).any? %>
      <% @card_collection.card_images.where.not(position: nil).order(:position).each do |card_image| %>
        <div class="container" style="max-width: 720px; margin: 0 auto 40px; padding: 0; display: flex; flex-direction: column; gap: 24px; text-align: center;">
          <% if card_image.image.attached? %>
            <%= image_tag url_for(card_image.image),
                  alt: "投稿写真", 
                  class: "img-fluid", 
                  style: "max-width: 720px; width: 100%; height: auto;" %>
          <% end %>
          <div style="text-align: left; margin-bottom: 40px;">
            <%= simple_format(link_hashtags(card_image.content.to_s.strip)) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="container" style="max-width: 720px; margin: 0 auto 40px; padding: 0; text-align: center; margin-bottom: 40px;">
        <%= link_to "写真をアップロードしてください", edit_card_collection_path(@card_collection), class: "btn btn-primary" %>
      </div>
    <% end %>
    
  </div>




  <div class="container d-flex justify-content-between" style="max-width: 720px; margin: 0 auto 40px; padding: 0;">
    <div class="d-flex">
      <% time_diff = Time.current - @card_collection.created_at %>
      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
        <% if time_diff < 60.minutes %>
          <%= (time_diff / 60).to_i %>分前
        <% elsif time_diff < 24.hours %>
          <%= (time_diff / 3600).to_i %>時間前
        <% else %>
          <%= (time_diff / 1.day).to_i %>日前
        <% end %>
      </div>

      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>

      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">いいね</div>
      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;"><%= @card_collection.likes.count %></div>

      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>

      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">ブックマーク</div>
      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;"><%= @card_collection.bookmarks.count %></div>

      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>

      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">閲覧数</div>
      <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;"><%= @card_collection.view_count %></div>
    </div>
  </div>

  <div class="d-flex justify-content-between" style="max-width: 720px; margin-top:40px; margin-bottom: 20px; padding: 0px;"">
    <!-- 왼쪽 영역: プロフィール画像とユーザー情報 -->
    <div class="d-flex align-items-center">
      <div>
        <%= link_to user_path(@card_collection.user) do %>
          <%= image_tag url_for(@card_collection.user.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;" %>
        <% end %>
      </div>

      <div class="ms-3" style="margin-left: 8px;">
        <span style="display: flex; -webkit-box-align: center; align-items: center; font-size: 14px; line-height: 20px; font-weight: 700; color: rgb(47, 52, 56);">
          <%= link_to user_path(@card_collection.user) do %>
            <%= @card_collection.user.nickname %>
          <% end %>
        </span>
        <span style="margin-top: 2px; display: block; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); font-weight: 500; letter-spacing: -0.3px;">
          <% if @card_collection.user.introduction.present? %>
            <%= @card_collection.user.introduction %>
          <% else %>
            自己紹介はまだ作成されていません
          <% end %>
        </span>
      </div>
    </div>
    <!-- 오른쪽 영역: フォローボタン -->
    <% unless current_user.email == "guest@example.com" %>
      <% unless current_user == @card_collection.user %>
        <% if current_user.following.include?(@card_collection.user) %>
          <%= link_to "フォロー中",
              relationship_path(current_user.active_relationships.find_by(followed_id: @card_collection.user.id)),
              method: :delete,
              class: "btn d-flex d-sm-none border",                    
                                style: "margin: 0px;
                                        border: none;
                                        background: none;
                                        font-style: inherit;
                                        font-variant: inherit;
                                        font-stretch: inherit;
                                        font-family: inherit;
                                        font-optical-sizing: inherit;
                                        font-size-adjust: inherit;
                                        font-kerning: inherit;
                                        font-feature-settings: inherit;
                                        font-variation-settings: inherit;
                                        font-size: 10px;
                                        line-height: 10px;
                                        display: inline-flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        height: 30px;
                                        border-radius: 4px;
                                        padding: 0px;
                                        box-sizing: border-box;
                                        text-align: center;
                                        color: black;
                                        font-weight: 700;
                                        width: 60px;"%>

          <%= link_to "フォロー中",
              relationship_path(current_user.active_relationships.find_by(followed_id: @card_collection.user.id)),
              method: :delete,
              class: "btn d-none d-sm-flex border",
                                style: "margin: 0px;
                                        border: none;
                                        background: none;
                                        font-style: inherit;
                                        font-variant: inherit;
                                        font-stretch: inherit;
                                        font-family: inherit;
                                        font-optical-sizing: inherit;
                                        font-size-adjust: inherit;
                                        font-kerning: inherit;
                                        font-feature-settings: inherit;
                                        font-variation-settings: inherit;
                                        font-size: 12px;
                                        line-height: 18px;
                                        display: inline-flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        height: 40px;
                                        border-radius: 4px;
                                        padding: 0px 16px;
                                        box-sizing: border-box;
                                        text-align: center;
                                        color: black;
                                        font-weight: 700;
                                        width: 90px;"%>
        <% else %>
          <%= link_to "フォロー", relationships_path(followed_id: @card_collection.user.id), 
                      method: :post, 
                      class: "btn d-flex d-sm-none border",
                      style: "margin: 0px;
                              border: none;
                              background: none rgb(10, 165, 255);
                              font-style: inherit;
                              font-variant: inherit;
                              font-stretch: inherit;
                              font-family: inherit;
                              font-optical-sizing: inherit;
                              font-size-adjust: inherit;
                              font-kerning: inherit;
                              font-feature-settings: inherit;
                              font-variation-settings: inherit;
                              font-size: 10px;
                              line-height: 10px;
                              display: inline-flex;
                              -webkit-box-pack: center;
                              justify-content: center;
                              -webkit-box-align: center;
                              align-items: center;
                              height: 30px;
                              border-radius: 4px;
                              padding: 0px;
                              box-sizing: border-box;
                              text-align: center;
                              color: rgb(255, 255, 255);
                              font-weight: 700;
                              width: 60px;"%>
          <%= link_to "フォロー", relationships_path(followed_id: @card_collection.user.id), 
                      method: :post, 
                      class: "btn d-none d-sm-flex border",
                      style: "margin: 0px;
                              border: none;
                              background: none rgb(10, 165, 255);
                              font-style: inherit;
                              font-variant: inherit;
                              font-stretch: inherit;
                              font-family: inherit;
                              font-optical-sizing: inherit;
                              font-size-adjust: inherit;
                              font-kerning: inherit;
                              font-feature-settings: inherit;
                              font-variation-settings: inherit;
                              font-size: 12px;
                              line-height: 18px;
                              display: inline-flex;
                              -webkit-box-pack: center;
                              justify-content: center;
                              -webkit-box-align: center;
                              align-items: center;
                              height: 40px;
                              border-radius: 4px;
                              padding: 0px 16px;
                              box-sizing: border-box;
                              text-align: center;
                              color: rgb(255, 255, 255);
                              font-weight: 700;
                              width: 90px;"%>
        <% end %>   
      <% end %>
    <% end %>
  </div>

  <div class="d-flex d-md-none justify-content-end">
    <%= link_to "もっと見る",
                card_collections_user_path(@card_collection.user),
                style: "text-decoration: none;  font-size: 12px; font-weight: bold; color:rgb(130, 140, 148);"
                 %>
  </div>

  <div class="d-flex d-md-none flex-nowrap overflow-auto" style="margin: 0 auto 40px; padding: 0; gap: 8px;">
    <% posts = @card_collection.user.card_collections.where.not(id: @card_collection.id).limit(4) %>
    <% posts.each_with_index do |post, index| %>
      <div class="flex-shrink-1"
            style="flex: 0 0 120px; aspect-ratio: 1 / 1;">
        <%= link_to card_collection_path(post),
                    class: "d-block w-100 h-100 text-decoration-none" do %>
          <% if post.card_images.any? && post.card_images.first.image.attached? %>
            <%= image_tag url_for(post.card_images.first.image),
                          alt: "投稿写真",
                          class: "rounded w-100 h-100",
                          style: "object-fit: cover;" %>
          <% else %>
            <div class="rounded bg-secondary-subtle w-100 h-100" style="background-color: #f0f0f0;"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="d-none d-md-flex d-lg-none  flex-wrap" style=" margin: 0 auto 40px; padding: 0; justify-content: flex-start; gap: 8px;">
    <% posts = @card_collection.user.card_collections.where.not(id: @card_collection.id).limit(4) %>
    <% posts.each_with_index do |post, index| %>
      <div style="width: 165px; height: 165px; position: relative;">
        <%= link_to card_collection_path(post), style: "text-decoration: none;" do %>
          <% if post.card_images.any? && post.card_images.first.image.attached? %>
            <%= image_tag url_for(post.card_images.first.image),
                  alt: "投稿写真", class: "rounded", 
                  style: "width: 100%; height: 100%; object-fit: cover;" %>
          <% else %>
            <div class="rounded" style="width: 100%; height: 100%; background-color: #f0f0f0;"></div>
          <% end %>
        <% end %>
        <% if posts.size == 4 && index == 3 %>
          <div style="position: absolute; top: 0; left: 0; width: 100%; height: 160px; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center;">
            <%= link_to "もっと見る", card_collections_user_path(@card_collection.user), 
                      style: "text-decoration: none; color: #fff; font-size: 16px; font-weight: bold;" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="d-none d-lg-flex flex-wrap" style=" margin: 0 auto 40px; padding: 0; justify-content: flex-start; gap: 8px;">
    <% posts = @card_collection.user.card_collections.where.not(id: @card_collection.id).limit(4) %>
    <% posts.each_with_index do |post, index| %>
      <div style="width: 174px; height: 174px; position: relative;">
        <%= link_to card_collection_path(post), style: "text-decoration: none;" do %>
          <% if post.card_images.any? && post.card_images.first.image.attached? %>
            <%= image_tag url_for(post.card_images.first.image),
                  alt: "投稿写真", class: "rounded", 
                  style: "width: 174px; height: 174px; object-fit: cover;" %>
          <% else %>
            <div class="rounded" style="width: 174px; height: 174px; background-color: #f0f0f0;"></div>
          <% end %>
        <% end %>
        <% if posts.size == 4 && index == 3 %>
          <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center;">
            <%= link_to "もっと見る", card_collections_user_path(@card_collection.user), 
                      style: "text-decoration: none; color: #fff; font-size: 16px; font-weight: bold;" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  

  <div style="padding: 0px; margin-top: 76px;">
    <% total_comments = @card_collection.card_collection_comments.where(deleted: false).count +
    CardCollectionReply.joins(:card_collection_comment)
                      .where(card_collection_comments: { card_collection_id: @card_collection.id }, deleted: false)
                      .count %>
    <h1 style="font-size: 20px; line-height: 28px; color: rgb(47, 52, 56); margin-bottom: 8px; font-weight: 700; margin-bottom: 24px;">コメント <%= total_comments %></h1>

    <div style="margin-bottom: 40px; margin-top: 8px;">
      <div style="display: flex; align-items: center;">
        <% unless current_user.email == "guest@example.com" %>

          <%= image_tag url_for(current_user.get_profile_image), 
                alt: "プロフィール画像", 
                style: "object-fit: cover; width: 30px; height: 30px; border-radius: 50%; margin-right: 12px; border: 0.5px solid rgba(0, 0, 0, 0.08);" %>

          <div style="flex: 1; position: relative;">
            <%= form_with model: [@card_collection, @card_collection_comment], local: true do |f| %>
              <%= f.text_area :comment, rows: 1, placeholder: "コメントをここに", 
                    class: "rounded",
                    style: "width: 100%; height: 44px; border: 1px solid #ddd; padding: 0 16px; font-size: 15px; outline: none; resize: none; line-height: 44px; overflow: hidden; " %>
              <div style="position: absolute; right: 8px; top: 40%; transform: translateY(-40%);">
                <%= f.submit "送信", 
                        style: "background: none; border: none; font-size: 16px; color: #007bff; cursor: pointer; color: rgb(194, 200, 204); height: 30px; margin: 0px 0px 0px 12px;" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= link_to "ログインしてコメントする", destroy_user_session_path, 
                      method: :delete, 
                      data: { confirm: "ログイン後にコメントを投稿してください" },
                      class: "btn btn-primary", 
                      style: "width:100%; height: 40px; padding: 0 15px; display: flex; align-items: center; justify-content: center" %>
        <% end %>
      </div>
    </div>

    <div>
      <% @card_collection.card_collection_comments.order(created_at: :asc).each do |comment| %>
        <div class="comment" style="margin-bottom: 15px; padding-bottom: 10px; display: flex; align-items: flex-start; margin: 16px 0px;">
          <% if comment.deleted? %>
            <div>
              <strong>閲覧できないユーザー</strong>
              <p style="margin-left: 10px; margin-top: 8px; font-size: 15px">コメントが削除されました</p>
            </div>
          <% else %>
            <div>
              <%= image_tag comment.user.get_profile_image, alt: "プロフィール画像", class: "rounded-circle", 
                            style: "width: 30px; height: 30px; object-fit: cover; margin-right: 12px;" %>
            </div>
            <div style="flex: 1 1 0%;">
              <strong><%= comment.user.nickname %></strong>
              <div style="margin-top: 8px;"><%= simple_format(comment.comment, {style: "font-size: 15px; margin-bottom: 8px;"}) %></div>

              <div class="ms-3 d-flex align-items-center">
                <% time_diff = Time.current - comment.created_at %>
                <div class="ms-3" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                  <% if time_diff < 60.minutes %>
                    <%= (time_diff / 60).to_i %>分前
                  <% elsif time_diff < 24.hours %>
                    <%= (time_diff / 3600).to_i %>時間前
                  <% else %>
                    <%= (time_diff / 1.day).to_i %>日前
                  <% end %>
                </div>

                <% unless current_user.email == "guest@example.com" %>
                  <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>
                <% end %>

                <div>
                  <% unless current_user.email == "guest@example.com" %>
                    <% if current_user.likes.exists?(likeable: comment) %>
                      <% like = current_user.likes.find_by(likeable: comment) %>
                      <%= link_to like_path(like), method: :delete, class: "btn", style: "display: block; text-decoration: none; color: inherit; margin: 0px; padding: 0px;" do %>
                          <i class="fa-solid fa-heart" style="font-size: 13px; line-height: 18px;"></i>
                          <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                            <%= comment.likes.count %>
                          </span>
                      <% end %>
                    <% else %>
                      <%= link_to likes_path(likeable_type: "CardCollectionComment", likeable_id: comment.id), method: :post, class: "btn", style: "display: block; text-decoration: none; color: inherit; margin: 0px; padding: 0px;" do %>
                        <div>
                          <i class="fa-regular fa-heart" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"></i>
                          <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                            <%= comment.likes.count %>
                          </span>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>

                <% unless current_user.email == "guest@example.com" %>
                  <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>
                <% end %>

                <% unless current_user.email == "guest@example.com" %>
                  <% unless comment.deleted? %>
                    <div style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                      <a href="#" class="reply-toggle" data-comment-id="<%= comment.id %>" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                        返信する
                      </a>
                    </div>
                  <% end %>
                <% end %>

                <% if comment.user == current_user %>
                  <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>
                  <%= link_to "削除", card_collection_card_collection_comment_path(@card_collection, comment),
                              method: :delete,
                              data: { confirm: "本当に削除しますか？" },
                              style: "margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"%>
                <% end %>

              </div>

              <% unless comment.deleted? %>
                <div id="reply-form-<%= comment.id %>" class="reply-form" style="display: none; margin-left: 20px; position: relative;">
                  <p style="margin-bottom: 8px; font-size: 15px; color: #333;">
                    <%= comment.user.nickname %>への返信:
                  </p>
                  <%= form_with model: [@card_collection, comment, CardCollectionReply.new], local: true do |f| %>
                    <%= f.hidden_field :card_collection_comment_id, value: comment.id %>
                    <div style="position: relative;">
                      <%= f.text_area :comment, rows: 2, placeholder: "返信を入力してください", class: "rounded", 
                                                                                      style: "width: 100%; height: 44px; border: 1px solid #ddd; padding: 0 16px; font-size: 15px; outline: none; resize: none; line-height: 44px; overflow: hidden; " %>
                      <div style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%);">
                        <%= f.submit "返信を投稿", style: "background: none; border: none; font-size: 16px; color: #007bff; cursor: pointer; color: rgb(194, 200, 204); height: 30px; margin: 0px 0px 0px 12px;" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if comment.card_collection_replies.any? %>
          <div class="child-replies" style="margin-left: 40px; border-radius: 4px; background-color: rgb(247, 249, 250);">
            <% comment.card_collection_replies.order(created_at: :asc).each do |reply| %>
              <div class="reply" style="margin-bottom: 15px; padding-bottom: 10px; display: flex; align-items: flex-start; margin: 16px 0px; ">
                <% if reply.deleted? %>
                  <div>
                    <strong>閲覧できないユーザー</strong>
                    <p style="margin-left: 10px; margin-top: 8px; font-size: 15px">コメントが削除されました</p>
                  </div>
                <% else %>

                  <div>
                    <%= image_tag reply.user.get_profile_image, alt: "プロフィール画像", class: "rounded-circle",  style: "width: 30px; height: 30px; object-fit: cover; margin-right: 12px;"  %>
                  </div>

                  <div style="flex: 1 1 0%;">
                    <div style="margin-bottom: 8px;"><strong><%= reply.user.nickname %></strong></div>

                    <div style="display: flex;">
                      <div>
                        <% if reply.parent_reply.present? %>
                          <%= link_to user_path(reply.parent_reply.user), style: "margin-right: 5px; display: inline-block;
                          padding: 0px;
                          border: none;
                          background: none;
                          font: inherit;
                          color: rgb(10, 165, 255);" do%>
                            @<%= reply.parent_reply.user.nickname %>
                          <% end %>
                        <% else %>
                          <%= link_to user_path(comment.user), style: "margin-right: 5px; display: inline-block;
                          padding: 0px;
                          border: none;
                          background: none;
                          font: inherit;
                          color: rgb(10, 165, 255);" do %>
                            @<%=  comment.user.nickname %>
                          <% end %>
                        <% end %>
                      </div>
                      <span>
                        <%= simple_format(reply.comment) %>
                      </span>
                    </div>
                    
                    <div class="ms-3 d-flex align-items-center">
                      <% time_diff = Time.current - reply.created_at %>
                      <div class="ms-3" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                        <% if time_diff < 60.minutes %>
                          <%= (time_diff / 60).to_i %>分前
                        <% elsif time_diff < 24.hours %>
                          <%= (time_diff / 3600).to_i %>時間前
                        <% else %>
                          <%= (time_diff / 1.day).to_i %>日前
                        <% end %>
                      </div>

                      <% unless current_user.email == "guest@example.com" %>
                        <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>
                      <% end %>

                      <div>
                        <% unless current_user.email == "guest@example.com" %>
                          <% if current_user.likes.exists?(likeable: reply) %>
                            <% like = current_user.likes.find_by(likeable: reply) %>
                            <%= link_to like_path(like), method: :delete, class: "btn", style: "display: block; text-decoration: none; color: inherit; margin: 0px; padding: 0px;" do %>
                              <i class="fa-solid fa-heart" style="font-size: 13px; line-height: 18px;"></i>
                              <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= reply.likes.count %></span>
                            <% end %>
                          <% else %>
                            <%= link_to likes_path(likeable_type: "CardCollectionReply", likeable_id: reply.id), method: :post, class: "btn", style: "display: block; text-decoration: none; color: inherit; margin: 0px; padding: 0px;" do %>
                              <i class="fa-regular fa-heart" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"></i>
                              <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= reply.likes.count %></span>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>

                      <% unless current_user.email == "guest@example.com" %>
                        <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>
                      <% end %>

                      <% unless current_user.email == "guest@example.com" %>
                        <% unless reply.deleted? %>
                          <div style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                            <a href="#" class="reply-toggle" data-comment-id="<%= reply.id %>" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);">
                              返信する
                            </a>
                          </div>
                        <% end %>
                      <% end %>

                      <% if reply.user == current_user %>
                        <div class="ms-3 d-flex align-items-center" style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</div>
                        <%= link_to "削除", card_collection_card_collection_comment_card_collection_reply_path(@card_collection, comment, reply),
                                    method: :delete,
                                    data: { confirm: "本当に削除しますか？" },
                                    style: "margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);" %>
                      <% end %>
                    </div>
                    
                    <% unless reply.deleted? %>
                      <div id="reply-form-<%= reply.id %>" class="reply-form" style="display: none; margin-left: 20px; position: relative;">
                        <p style="margin-bottom: 8px; font-size: 15px; color: #333;">
                          <%= reply.user.nickname %>への返信:
                        </p>
                        <%= form_with model: [@card_collection, reply.card_collection_comment, CardCollectionReply.new], local: true do |f| %>
                          <%= f.hidden_field :card_collection_comment_id, value: reply.card_collection_comment.id %>
                          <%= f.hidden_field :parent_reply_id, value: reply.id %>
                          <div style="position: relative;">
                            <%= f.text_area :comment, rows: 1, placeholder: "返信を入力してください", class: "rounded", 
                                  style: "width: 100%; height: 44px; border: 1px solid #ddd; padding: 0 16px; font-size: 15px; outline: none; resize: none; line-height: 44px; overflow: hidden; " %>
                            <div style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%);">
                              <%= f.submit "返信を投稿", 
                                          style: "background: none; border: none; font-size: 16px; color: #007bff; cursor: pointer; color: rgb(194, 200, 204); height: 30px; margin: 0px 0px 0px 12px;" %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="d-none d-md-block" style="pointer-events: none;">
      <div style="position: absolute; top: 50px; right: 0; width: calc(50% - 360px); max-width: 340px; height: 100%; padding: 0 40px; box-sizing: border-box;">
        <div style="position: sticky; top: 183px; transition: top 0.1s;">
          <% unless current_user.email == "guest@example.com" %>
            <div style="position: relative; display: flex; flex-direction: column; align-items: center;">
              <div style="border: 1px solid rgb(194, 200, 204); background: rgb(247, 249, 250); box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 6px; display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; border-radius: 100%; box-sizing: border-box; transition: 0.2s; pointer-events: auto;">
                <% if current_user.likes.exists?(likeable: @card_collection) %>
                  <% like = current_user.likes.find_by(likeable: @card_collection) %>
                  <%= link_to like_path(like), method: :delete, class: "btn", style: "display: block; text-decoration: none; color: inherit;" do %>
                    <i class="fa-solid fa-heart" style="font-size: 24px;"></i>
                  <% end %>
                <% else %>
                  <%= link_to likes_path(likeable_type: "CardCollection", likeable_id: @card_collection.id), method: :post, class: "btn", style: "display: block; text-decoration: none; color: inherit;" do %>
                    <i class="fa-regular fa-heart" style="font-size: 24px;"></i>
                  <% end %>
                <% end %>
              </div>
              <span style="margin-top: 8px; font-size: 14px; color: #555;"><%= @card_collection.likes.count %></span>
            </div>
          <% end %>

          <% unless current_user.email == "guest@example.com" %>
            <div style="position: relative; display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
              <div style="border: 1px solid rgb(194, 200, 204); background: rgb(247, 249, 250); box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 6px; display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; border-radius: 100%; box-sizing: border-box; transition: 0.2s; pointer-events: auto;">
                <% if current_user.bookmarks.exists?(bookmarkable: @card_collection) %>
                  <% bookmark = current_user.bookmarks.find_by(bookmarkable: @card_collection) %>
                  <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "本当にブックマークを解除しますか？" }, class: "btn", style: "display: block; text-decoration: none; color: inherit;" do %>
                    <i class="fa-solid fa-bookmark" style="font-size: 24px;"></i>
                  <% end %>
                <% else %>
                  <%= link_to bookmarks_path(bookmarkable_type: "CardCollection", bookmarkable_id: @card_collection.id), method: :post, class: "btn", style: "display: block; text-decoration: none; color: inherit;" do %>
                    <i class="fa-regular fa-bookmark" style="font-size: 24px;"></i>
                  <% end %>
                <% end %>
              </div>
              <span style="margin-top: 8px; font-size: 14px; color: #555;"><%= @card_collection.bookmarks.count %></span>
            </div>
          <% end %>

          <% unless current_user.email == "guest@example.com" %>
            <div style="position: relative; display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
              <div style="border: 1px solid rgb(194, 200, 204); background: rgb(247, 249, 250); box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 6px; display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; border-radius: 100%; box-sizing: border-box; transition: 0.2s; pointer-events: auto;">
                <%= link_to "#", onclick: "window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' }); return false;", style: "display: block; text-decoration: none; color: inherit;" do %>
                  <i class="fa-regular fa-comment" style="font-size: 24px;"></i>
                <% end %>
              </div>
              <!-- 댓글 개수: 원 밖, 중앙 정렬 -->
              <% total_comments = @card_collection.card_collection_comments.where(deleted: false).count +
                                  CardCollectionReply.joins(:card_collection_comment)
                                                      .where(card_collection_comments: { card_collection_id: @card_collection.id }, deleted: false)
                                                      .count %>
              <span style="margin-top: 8px; font-size: 14px; color: #555;"><%= total_comments %></span>
            </div>
          <% end %>
        </div>
      </div>
    
    </div>

    <div class="d-block d-md-none">
      <div class="fixed-bottom bg-white border-top" style="z-index: 1000;">
        <div class="d-flex justify-content-around py-2">
          <%# 좋아요 버튼 %>
          <div class="text-center">
            <% if current_user.likes.exists?(likeable: @card_collection) %>
              <% like = current_user.likes.find_by(likeable: @card_collection) %>
              <%= link_to like_path(like), method: :delete, class: "text-decoration-none text-dark" do %>
                <i class="fa-solid fa-heart fs-4"></i><br>
                <small><%= @card_collection.likes.count %></small>
              <% end %>
            <% else %>
              <%= link_to likes_path(likeable_type: "CardCollection", likeable_id: @card_collection.id), method: :post, class: "text-decoration-none text-dark" do %>
                <i class="fa-regular fa-heart fs-4"></i><br>
                <small><%= @card_collection.likes.count %></small>
              <% end %>
            <% end %>
          </div>
    
          <%# 북마크 버튼 %>
          <div class="text-center">
            <% if current_user.bookmarks.exists?(bookmarkable: @card_collection) %>
              <% bm = current_user.bookmarks.find_by(bookmarkable: @card_collection) %>
              <%= link_to bookmark_path(bm), method: :delete, class: "text-decoration-none text-dark" do %>
                <i class="fa-solid fa-bookmark fs-4"></i><br>
                <small><%= @card_collection.bookmarks.count %></small>
              <% end %>
            <% else %>
              <%= link_to bookmarks_path(bookmarkable_type: "CardCollection", bookmarkable_id: @card_collection.id), method: :post, class: "text-decoration-none text-dark" do %>
                <i class="fa-regular fa-bookmark fs-4"></i><br>
                <small><%= @card_collection.bookmarks.count %></small>
              <% end %>
            <% end %>
          </div>
    
          <%# 댓글 이동 버튼 %>
          <div class="text-center">
            <%= link_to "#", onclick: "window.scrollTo({top:document.body.scrollHeight, behavior:'smooth'}); return false;", class: "text-decoration-none text-dark" do %>
              <i class="fa-regular fa-comment fs-4"></i><br>
              <small><%= @card_collection.card_collection_comments.where(deleted:false).count +
                          CardCollectionReply.joins(:card_collection_comment)
                                              .where(card_collection_comments:{card_collection_id:@card_collection.id},deleted:false)
                                              .count %></small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    


  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    var replyToggles = document.querySelectorAll(".reply-toggle");
    replyToggles.forEach(function(toggle) {
      toggle.addEventListener("click", function(e) {
        e.preventDefault();
        var commentId = this.dataset.commentId;
        var form = document.getElementById("reply-form-" + commentId);
        if (form.style.display === "none" || form.style.display === "") {
          form.style.display = "block";
        } else {
          form.style.display = "none";
        }
      });
    });
  });
</script>
