<h1>이메일 인증</h1>
<p>회원가입 시 발송된 이메일에서 인증번호를 확인하고, 아래에 입력해주세요.</p>

<%= form_with url: certificate_path, method: :post, local: true do |f| %>
  <div class="field">
    <%= f.label :email, "이메일" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :password, "패스워드" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirmation_token, "인증번호" %><br />
    <%= f.text_field :confirmation_token %>
  </div>
  <div class="actions">
    <%= f.submit "Certificate" %>
  </div>
<% end %>
