<div style="margin-top: 32px;  position: relative;">
  <div class="d-flex align-items-center" style=" justify-content: space-between;">
    <div style="display: flex; font-size: 24px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center;">
      検索結果: <%= @query %>
    </div>
    <%= link_to "検索に戻る", searchs_path(query: @query),
                            class: "btn d-none d-md-flex",
                            style: "margin: 0px;
                                    border: none;
                                    font-size: 14px;
                                    line-height: 18px;
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 40px;
                                    border-radius: 4px;
                                    padding: 0px 16px;
                                    box-sizing: border-box;
                                    text-align: center;
                                    color: rgb(10, 165, 255);
                                    font-weight: 700;
                                    width: 100px;"%>
  </div>
</div>

<div style="margin-top: 32px;  position: relative;">
  <div style="display: flex; -webkit-box-pack: justify; justify-content: space-between;">
    <div>
      <div style="display: flex; font-size: 20px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center;">
        ハッシュタグ
      </div>
      <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= @hashtag_results.count %>件のハッシュタグ</span>
    </div>
  </div>

  <div style="margin-top: 10px;">
    <% if @hashtag_results.any? %>
      <div class="row g-2">
        <% @hashtag_results.each do |hashtag| %>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding-bottom: 15px;">
            <div class="rounded h-100 border">
              <div class="p-3">

              <div style="display: flex; -webkit-box-pack: justify; justify-content: space-between;">
                <%= link_to hashtag_path(hashtag) do %>
                  <h1 style="display: flex; font-size: 20px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center; color: #000000;">#<%= hashtag.name %></h1>
                  <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= Bookmark.where(bookmarkable_type: "Hashtag", bookmarkable_id: hashtag.id).count %>名が活動中</span>
                  <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</span>
                    <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= hashtag.card_collections.count %>件のコンテンツ</span>              
                  <% end %>
                  <%= link_to hashtag_path(hashtag) do %>
                    <i class="fa-solid fa-arrow-right"></i>
                  <% end %>
                </div>

                <% if hashtag.card_collections.any? %>
                  <div class="row g-1">
                    <% hashtag.card_collections.limit(4).each do |post| %>
                      <div class="col-3" style="padding:8px;">
                        <%= link_to card_collection_path(post), class: "d-block" do %>
                          <% if img = post.card_images.first&.image %>
                            <%= image_tag img, class: "img-fluid rounded", style: "width:100%; height:120px; object-fit: cover;" %>
                          <% else %>
                            <div class="bg-light rounded" style="aspect-ratio:2/3;"></div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <div class="d-flex justify-content-center align-items-center bg-light rounded" style="height:120px;">
                    <small class="text-muted">このハッシュタグに該当する投稿はありません。</small>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>条件に一致するハッシュタグがありません。</p>
    <% end %>
  </div>
</div>
