<% if @query.present? %>
  <section>
    <div style="margin-top: 32px;  position: relative;">
      <div class="d-flex align-items-center" style=" justify-content: space-between;">
        <div>
          <div style="display: flex; font-size: 20px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center;">
            写真
          </div>
          <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= @content_results.count %>件のコンテンツ</span>
        </div>
        <% if @content_results.any? %>
          <%= link_to "もっと見る", search_photos_path(query: @query), 
                              class: "btn d-none d-md-flex",
                              style: "margin: 0px;
                                      border: none;
                                      font-size: 14px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 40px;
                                      border-radius: 4px;
                                      padding: 0px 16px;
                                      box-sizing: border-box;
                                      text-align: center;
                                      color: rgb(10, 165, 255);
                                      font-weight: 700;
                                      width: 100px;"%>
        <% end %>
      </div>

      <% if @content_results.any? %>
        <div class="row" style="padding-top: 0px; transform: translateY(0px);">
          <% @content_results.first(8).each do |card_collection| %>
            <div class="col-6 col-md-6 col-lg-3 col-xl-3" style="padding: 0 5px; margin-bottom: 10px;">
              <article class="card-collection-item" style="overflow: hidden; transition: box-shadow 0.2s ease;">
                <!-- 投稿画像エリア (元画像を読み込み、CSSでサイズ調整) -->
                <div class="card-collection-item__content"
                      style="position: relative; width: 100%; aspect-ratio: 1 / 1; overflow: hidden; border-radius: 0.4rem;">
                  <% if card_collection.card_images.any? && card_collection.card_images.first.image.attached? %>
                    <%= link_to card_collection_path(card_collection),
                                style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                      <%= image_tag url_for(card_collection.card_images.first.image),
                                    alt: "投稿写真",
                                    style: "width: 100%; height: 100%; object-fit: cover;" %>
                    <% end %>
                  <% else %>
                    <%= link_to card_collection_path(card_collection),
                                style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                      <div style="width: 100%; height: 100%; background-color: #f0f0f0;
                                  display: flex; align-items: center; justify-content: center;">
                        <p style="margin: 0;">写真がアップロードされていません。</p>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </article>
            </div>
          <% end %>
        </div>
        <%= link_to "もっと見る", search_photos_path(query: @query), 
                                class: "btn d-flex d-md-none",
                                style: "margin: 0px;
                                        border: none;
                                        background: none rgb(10, 165, 255);
                                        font-style: inherit;
                                        font-variant: inherit;
                                        font-stretch: inherit;
                                        font-family: inherit;
                                        font-optical-sizing: inherit;
                                        font-size-adjust: inherit;
                                        font-kerning: inherit;
                                        font-feature-settings: inherit;
                                        font-variation-settings: inherit;
                                        font-size: 14px;
                                        line-height: 18px;
                                        display: inline-flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        height: 40px;
                                        border-radius: 4px;
                                        padding: 0px 16px;
                                        box-sizing: border-box;
                                        text-align: center;
                                        color: rgb(255, 255, 255);
                                        font-weight: 700;
                                        width: 100%;"%>
      <% else %>
        <p>該当するコンテンツがありません。</p>
      <% end %>
    </div>
  </section>


  <hr>

  <section>
    <div style="margin-top: 32px;  position: relative;">
      <div class="d-flex align-items-center" style=" justify-content: space-between;">
        <div>
          <div style="display: flex; font-size: 20px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center;">
            ユーザー
          </div>
          <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= @user_results.count %>人のユーザー</span>
        </div>
        <% if @user_results.any? %>
          <%= link_to "もっと見る", search_users_path(query: @query), 
                              class: "btn d-none d-md-flex",
                              style: "margin: 0px;
                                      border: none;
                                      font-size: 14px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 40px;
                                      border-radius: 4px;
                                      padding: 0px 16px;
                                      box-sizing: border-box;
                                      text-align: center;
                                      color: rgb(10, 165, 255);
                                      font-weight: 700;
                                      width: 100px;"%>
        <% end %>
      </div>


      
      <div style="margin-top: 10px;">
        <% if @user_results.any? %>

          <div class="row g-2">
            <% @user_results.first(4).each do |user| %>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-bottom: 10px;">
                <div class="rounded h-100 border">
                  <div class="p-3">

                  <div style="display: flex; -webkit-box-pack: justify; justify-content: space-between; margin-bottom: 10px;">
                    <%= link_to user_path(user) do %>
                      <div class="d-flex align-items-center">
                        <%= image_tag url_for(user.get_profile_image), 
                                alt: "プロフィール画像", 
                                class: "rounded-circle", 
                                style: "width: 35px; height: 35px; object-fit: cover; margin-bottom: 3px; margin-right: 5px;" %>
                        <div>
                          <h1 style="display: flex; font-size: 13px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center; color: #000000;"><%= user.nickname %></h1>
                          
                          <div style="font-size: 10px; color: #666; margin-top: 0px; margin-bottom: 0px; align-items: center;">
                            <% if user.introduction.present? %>
                              <%= user.introduction %>
                            <% else %>
                              作成された自己紹介はありません
                            <% end %>
                          </div>

                          <div style="margin: 0px; font-weight: 500; font-size: 11px; line-height: 18px; color: rgb(130, 140, 148); text-align: left;"><%= user.card_collections.count %>件のコンテンツ</div>   
                        </div>


                      </div>

                      
          
                    <% end %>



                    <% unless current_user.email == "guest@example.com" %>
                      <% unless current_user == user %>
                        <% if current_user.following.include?(user) %>
                          <%= link_to "フォロー中", relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), 
                                        method: :delete,  
                                        class: "btn d-none d-sm-flex",
                                        style: "margin: 0px;
                                        background: none;
                                        font-style: inherit;
                                        font-variant: inherit;
                                        font-stretch: inherit;
                                        font-family: inherit;
                                        font-optical-sizing: inherit;
                                        font-size-adjust: inherit;
                                        font-kerning: inherit;
                                        font-feature-settings: inherit;
                                        font-variation-settings: inherit;
                                        font-size: 14px;
                                        line-height: 18px;
                                        display: inline-flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        height: 40px;
                                        border-radius: 4px;
                                        padding: 0px 16px;
                                        font-weight: 400;
                                        box-sizing: border-box;
                                        text-align: center;
                                        color: rgb(47, 52, 56);
                                        border: 1px solid rgb(230, 230, 230);
                                        width: 100px;"%>
                          <%= link_to "フォロー中", relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), 
                                      method: :delete,  
                                      class: "btn d-flex d-sm-none",
                                      style: "margin: 0px;
                                      background: none;
                                      font-size: 10px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      -webkit-box-pack: center;
                                      justify-content: center;
                                      -webkit-box-align: center;
                                      align-items: center;
                                      height: 30px;
                                      border-radius: 4px;
                                      padding: 0px 0px;
                                      font-weight: 400;
                                      box-sizing: border-box;
                                      text-align: center;
                                      color: rgb(47, 52, 56);
                                      border: 1px solid rgb(230, 230, 230);
                                      width: 80px;"%>
                        <% else %>
                          <%= link_to "フォロー", relationships_path(followed_id: user.id), 
                                      method: :post, 
                                      class: "btn d-flex d-sm-none",
                                      style: "margin: 0px;
                                        background: rgb(10, 165, 255);
                                        font-size: 10px;
                                        line-height: 18px;
                                        display: inline-flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        height: 30px;
                                        border-radius: 4px;
                                        padding: 0px 0px;
                                        font-weight: 400;
                                        box-sizing: border-box;
                                        text-align: center;
                                        color: rgb(255, 255, 255);
                                        border: 1px solid rgb(230, 230, 230);
                                        width: 70px;"%>
                          <%= link_to "フォロー", relationships_path(followed_id: user.id), 
                                        method: :post, 
                                        class: "btn d-none d-sm-flex",
                                        style: "margin: 0px;
                                                border: none;
                                                background: none rgb(10, 165, 255);
                                                font-style: inherit;
                                                font-variant: inherit;
                                                font-stretch: inherit;
                                                font-family: inherit;
                                                font-optical-sizing: inherit;
                                                font-size-adjust: inherit;
                                                font-kerning: inherit;
                                                font-feature-settings: inherit;
                                                font-variation-settings: inherit;
                                                font-size: 14px;
                                                line-height: 18px;
                                                display: inline-flex;
                                                -webkit-box-pack: center;
                                                justify-content: center;
                                                -webkit-box-align: center;
                                                align-items: center;
                                                height: 40px;
                                                border-radius: 4px;
                                                padding: 0px 16px;
                                                box-sizing: border-box;
                                                text-align: center;
                                                color: rgb(255, 255, 255);
                                                font-weight: 700;
                                                width: 90px;"%>

                                      
                        <% end %>   
                      <% end %>
                    <% end %> 
                  </div>
        
                    <% if user.card_collections.any? %>
                      <div class="row g-1">
                        <% user.card_collections.limit(4).each do |post| %>
                          <div class="col-3" style="padding:8px;">
                            <%= link_to card_collection_path(post), class: "d-block" do %>
                              <% if img = post.card_images.first&.image %>
                                <%= image_tag img, class: "img-fluid rounded", style: "width:100%; height:120px; object-fit: cover;" %>
                              <% else %>
                                <div class="bg-light rounded" style="aspect-ratio:2/3;"></div>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="d-flex justify-content-center align-items-center bg-light rounded" style="height:120px; font-size: 0.8em;">
                        <small class="text-muted">このハッシュタグに該当する投稿はありません。</small>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>


          <%= link_to "もっと見る", search_users_path(query: @query), 
                                class: "btn d-flex d-md-none",
                                style: "margin: 0px;
                                        border: none;
                                        background: none rgb(10, 165, 255);
                                        font-style: inherit;
                                        font-variant: inherit;
                                        font-stretch: inherit;
                                        font-family: inherit;
                                        font-optical-sizing: inherit;
                                        font-size-adjust: inherit;
                                        font-kerning: inherit;
                                        font-feature-settings: inherit;
                                        font-variation-settings: inherit;
                                        font-size: 14px;
                                        line-height: 18px;
                                        display: inline-flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        height: 40px;
                                        border-radius: 4px;
                                        padding: 0px 16px;
                                        box-sizing: border-box;
                                        text-align: center;
                                        color: rgb(255, 255, 255);
                                        font-weight: 700;
                                        width: 100%;"%>
        <% else %>
          <p>条件に一致するユーザーがいません。</p>
        <% end %>
      </div>
      
    </div>
  </section>

  <hr>

  <section>
    <div style="margin-top: 32px;  position: relative;">
      <div class="d-flex align-items-center" style=" justify-content: space-between;">
        <div>
          <div style="display: flex; font-size: 20px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center;">
            ハッシュタグ
          </div>
          <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= @hashtag_results.count %>件のハッシュタグ</span>
        </div>
        <% if @hashtag_results.any? %>
          <%= link_to "もっと見る", search_hashtags_path(query: @query), 
                              class: "btn d-none d-md-flex",
                              style: "margin: 0px;
                                      border: none;
                                      font-size: 14px;
                                      line-height: 18px;
                                      display: inline-flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 40px;
                                      border-radius: 4px;
                                      padding: 0px 16px;
                                      box-sizing: border-box;
                                      text-align: center;
                                      color: rgb(10, 165, 255);
                                      font-weight: 700;
                                      width: 100px;"%>
        <% end %>
      </div>

      <div style="margin-top: 10px;">
        <% if @hashtag_results.any? %>
          <div class="row g-2">
            <% @hashtag_results.first(4).each do |hashtag| %>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-bottom: 10px;">
                <div class="rounded h-100 border">
                  <div class="p-3">

                    <div style="display: flex; -webkit-box-pack: justify; justify-content: space-between;">
                      <%= link_to hashtag_path(hashtag) do %>
                        <h1 style="display: flex; font-size: 20px; line-height: 28px; font-weight: 700; padding: 0px; margin: 0px; -webkit-box-align: center; align-items: center; color: #000000;">#<%= hashtag.name %></h1>
                        <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= Bookmark.where(bookmarkable_type: "Hashtag", bookmarkable_id: hashtag.id).count %>名が活動中</span>
                        <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148); display: inline-block; margin: 0px 4px; vertical-align: middle;">・</span>
                        <span style="margin: 0px; font-weight: 500; font-size: 13px; line-height: 18px; color: rgb(130, 140, 148);"><%= hashtag.card_collections.count %>件のコンテンツ</span>              
                      <% end %>
                      <%= link_to hashtag_path(hashtag) do %>
                        <i class="fa-solid fa-arrow-right"></i>
                      <% end %>
                    </div>
        
                    <% if hashtag.card_collections.any? %>
                      <div class="row g-1">
                        <% hashtag.card_collections.limit(4).each do |post| %>
                          <div class="col-3" style="padding:8px;">
                            <%= link_to card_collection_path(post), class: "d-block" do %>
                              <% if img = post.card_images.first&.image %>
                                <%= image_tag img, class: "img-fluid rounded", style: "width:100%; height:120px; object-fit: cover;" %>
                              <% else %>
                                <div class="bg-light rounded" style="aspect-ratio:2/3;"></div>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="d-flex justify-content-center align-items-center bg-light rounded" style="height:120px;">
                        <small class="text-muted">このハッシュタグに該当する投稿はありません。</small>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%= link_to "もっと見る", search_hashtags_path(query: @query), 
                                class: "btn d-flex d-md-none",
                                style: "margin: 0px;
                                        border: none;
                                        background: none rgb(10, 165, 255);
                                        font-style: inherit;
                                        font-variant: inherit;
                                        font-stretch: inherit;
                                        font-family: inherit;
                                        font-optical-sizing: inherit;
                                        font-size-adjust: inherit;
                                        font-kerning: inherit;
                                        font-feature-settings: inherit;
                                        font-variation-settings: inherit;
                                        font-size: 14px;
                                        line-height: 18px;
                                        display: inline-flex;
                                        -webkit-box-pack: center;
                                        justify-content: center;
                                        -webkit-box-align: center;
                                        align-items: center;
                                        height: 40px;
                                        border-radius: 4px;
                                        padding: 0px 16px;
                                        box-sizing: border-box;
                                        text-align: center;
                                        color: rgb(255, 255, 255);
                                        font-weight: 700;
                                        width: 100%;"%>
        <% else %>
          <p>条件に一致するハッシュタグがありません。</p>
        <% end %>
      </div>
    </div>
  </section>

<% else %>
  <p>検索ワードを入力してください。</p>
<% end %>
