<h2>채팅 <%= @other&.nickname %></h2>
<%= link_to "채팅방 나가기",
            conversation_path(@conversation),
            method: :delete,
            data: { confirm: "정말 나가시겠습니까?" },
            class: "leave-chat-link" %>

<hr>


<div id="messages"
     data-conversation-id="<%= @conversation.id %>"
     data-current-user-nickname="<%= current_user.nickname %>">
  <%= render @messages %>
</div>



<div id="new_message_form_wrapper">
  <%= form_with model: [@conversation, Message.new],
                local: false,
                html: { id: "new_message_form" } do |f| %>
    <%= f.text_field :content, placeholder: "메시지 입력...", autocomplete: "off" %>
    <%= f.submit "전송" %>
  <% end %>
</div>
