<div class="d-none d-lg-flex flex-wrap" style="margin: 0 -10px; box-sizing: border-box; padding: 0;">

  <div style="width: 25%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 카드파트 -->
    <div style="position: sticky; top: 160px; transition: top 0.1s;"><!-- 카드내부파트 -->
      <div style="position: relative;">
        <div>
          <div style= "padding: 30px 25px 18px;
                border-radius: 4px;
                border: 1px solid rgb(218, 220, 224);
                box-shadow: rgba(63, 71, 77, 0.06); position: relative;">

            <div style=" padding: 0px;min-height: 120px;     position: relative; margin: 0px 0px 20px"><!-- プロフィール～設定 -->
                <div style="width: 120px; height: 120px; position: relative; margin: 0px auto 24px; top: 0px; left: 0px; border-radius: 100%; background-color: rgb(237, 237, 237); overflow: hidden;">
                  <%= image_tag url_for(@userinfo.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 120px; height: 120px; object-fit: cover; border: 1px solid rgba(0, 0, 0, 0.1);" %>
                </div>

                <div style="text-align: center;"><!-- その他 -->
                  <div style="line-height: 1.15;         margin: 0px 0px 10px;
                                font-size: 22px; font-weight: bold;     color: rgb(41, 41, 41);
                            overflow-wrap: break-word;
                            word-break: break-all;
                        }">
                    <%= @userinfo.nickname %>
                  </div>
  
                  <div style="text-align: center;">
                    <div class="d-flex justify-content-center align-items-center mb-3 flex-nowrap text-nowrap text-secondary" style="font-size:12px; line-height:1.4;">
                      <div class="me-3" style="margin-right:5px;">
                        <span class="me-1" style="margin-right: 3px">フォロワー</span>
                        <%= link_to @userinfo.followers.count, follower_user_path(@userinfo),
                                    class: "fw-bold text-dark text-decoration-none" %>
                      </div>
                      <div style="padding-left: 5px; border-left: 1px solid black">
                        <span class="me-1" style="margin-right: 3px">フォロー中</span>
                        <%= link_to @userinfo.following.count, followee_user_path(@userinfo),
                                    class: "fw-bold text-dark text-decoration-none" %>
                      </div>
                    </div>



                    <% if current_user == @userinfo%>
                      <div><!-- 設定ボタン -->
                        <%= link_to "設定", edit_user_path(current_user), class: "btn",
                        style: "margin: 0px;
                                background: none;
                                font-style: inherit;
                                font-variant: inherit;
                                font-stretch: inherit;
                                font-family: inherit;
                                font-optical-sizing: inherit;
                                font-size-adjust: inherit;
                                font-kerning: inherit;
                                font-feature-settings: inherit;
                                font-variation-settings: inherit;
                                font-size: 12px;
                                line-height: 18px;
                                display: inline-flex;
                                -webkit-box-pack: center;
                                justify-content: center;
                                -webkit-box-align: center;
                                align-items: center;
                                height: 33px;
                                border-radius: 4px;
                                padding: 0px 16px;
                                font-weight: 400;
                                box-sizing: border-box;
                                text-align: center;
                                color: rgb(47, 52, 56);
                                border: 1px solid rgb(230, 230, 230);
                                width: 56px;"%>
                      </div>
                    <% else %>
                      <div class="ms-auto">
                        <% if user_signed_in? %>
                          <% unless current_user.email == "guest@example.com" %>
                            <% if current_user.following.include?(@userinfo) %>
                              <%= link_to "フォロー解除", relationship_path(current_user.active_relationships.find_by(followed_id: @userinfo)), 
                                          method: :delete,  
                                          class: "btn",
                                          style: "margin: 0px;
                                                  background: none;
                                                  font-style: inherit;
                                                  font-variant: inherit;
                                                  font-stretch: inherit;
                                                  font-family: inherit;
                                                  font-optical-sizing: inherit;
                                                  font-size-adjust: inherit;
                                                  font-kerning: inherit;
                                                  font-feature-settings: inherit;
                                                  font-variation-settings: inherit;
                                                  font-size: 14px;
                                                  line-height: 18px;
                                                  display: inline-flex;
                                                  -webkit-box-pack: center;
                                                  justify-content: center;
                                                  -webkit-box-align: center;
                                                  align-items: center;
                                                  height: 40px;
                                                  border-radius: 4px;
                                                  padding: 0px 16px;
                                                  font-weight: 400;
                                                  box-sizing: border-box;
                                                  text-align: center;
                                                  color: rgb(47, 52, 56);
                                                  border: 1px solid rgb(230, 230, 230);
                                                  width: 90px;"%>
                            <% else %>
                              <%= link_to "フォロー", relationships_path(followed_id: @userinfo), 
                                          method: :post, 
                                          class: "btn",
                                          style: "margin: 0px;
                                                  border: none;
                                                  background: none rgb(10, 165, 255);
                                                  font-style: inherit;
                                                  font-variant: inherit;
                                                  font-stretch: inherit;
                                                  font-family: inherit;
                                                  font-optical-sizing: inherit;
                                                  font-size-adjust: inherit;
                                                  font-kerning: inherit;
                                                  font-feature-settings: inherit;
                                                  font-variation-settings: inherit;
                                                  font-size: 14px;
                                                  line-height: 18px;
                                                  display: inline-flex;
                                                  -webkit-box-pack: center;
                                                  justify-content: center;
                                                  -webkit-box-align: center;
                                                  align-items: center;
                                                  height: 40px;
                                                  border-radius: 4px;
                                                  padding: 0px 16px;
                                                  box-sizing: border-box;
                                                  text-align: center;
                                                  color: rgb(255, 255, 255);
                                                  font-weight: 700;
                                                  width: 80px;"%>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
            </div>


            <div style="margin: 24px 0px;
                text-align: center;     color: rgb(66, 66, 66);
                font-size: 15px;
                line-height: 1.4;
                font-weight: 400;
                word-break: break-word;"><!-- 自己紹介～SNS -->
              <p class="mb-1">
                <%= @userinfo.introduction.presence %>
              </p>
              <% if @userinfo.sns_link.present? %>
                <% url = @userinfo.sns_link =~ /\Ahttp(s)?:\/\// ? @userinfo.sns_link : "http://#{@userinfo.sns_link}" %>
                <% display_text = url.sub(/\Ahttps?:\/\//, "") %>
                <p style="margin: 2px 0px 0px;
                          color: rgb(23, 120, 186);
                          transition: opacity 0.1s; padding: 0px">
                  <%= link_to display_text, url, target: "_blank", rel: "noopener noreferrer" %>
                </p>
              <% end %>
            </div>

            <% if current_user == @userinfo %>
              <div style="padding: 24px 0px 6px; border-top: 1px solid rgb(234, 235, 239);"><!-- ブックマーク、いいね -->
              <div class="d-flex justify-content-center" ">
              <%= link_to collections_user_path(@userinfo),
                          class: "btn d-flex flex-column align-items-center justify-content-center p-0",
                          style: "width: 90px; height: 80px; font-size: 13px; color: #292929;" do %>
                <i class="fa-regular fa-bookmark" style="font-size: 20px;"></i>
                <small class="mt-1">ブックマーク</small>
                <small><%= @userinfo.bookmarks.where(bookmarkable_type: "CardCollection").count %></small>
              <% end %>
            
              <%= link_to likes_user_path(@userinfo),
                          class: "btn d-flex flex-column align-items-center justify-content-center p-0",
                          style: "width: 90px; height: 80px; font-size: 13px; color: #292929;" do %>
                <i class="fa-regular fa-heart" style="font-size: 20px;"></i>
                <small class="mt-1">いいね</small>
                <small><%= Like.where(user_id: @userinfo.id, likeable_type: "CardCollection").count %></small>
              <% end %>
            </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 8.333333333333332%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 中間スペースパート -->
  </div>

  <div style="width: 66.66666666666666%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 사진,좋아요,북마크파트 -->
    <div class="row" style="padding-top: 0px; padding-bottom: 5900px; transform: translateY(0px);">
      <% @card_collections.each do |card_collection| %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4" style="padding: 0 10px; margin-bottom: 30px;">
          <article class="card-collection-item" style="overflow: hidden; transition: box-shadow 0.2s ease;">
            <!-- 投稿者エリア -->
            <div class="card-item-writer" style="padding: 10px;">
              <address style="margin: 0; display: flex;">
                <div class="card-item-writer__header" style="display: flex; align-items: center;">
                  <%= link_to user_path(card_collection.user), class: "card-item-writer__link", style: "display: flex; align-items: center; text-decoration: none; color: inherit;" do %>
                    <%= image_tag url_for(card_collection.user.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 40px; height: 40px; object-fit: cover; margin-right: 10px;" %>
                  <% end %>
                </div>

                <div>
                  <div style="display: flex;">
                    <%= link_to user_path(card_collection.user), class: "card-item-writer__link" do %>
                      <div style="display: flex; align-items: center; font-size: 13px; font-weight: bold;"><%= card_collection.user.nickname %></div>
                    <% end %>

                    <% unless current_user == card_collection.user %>
                      <% unless current_user.email == "guest@example.com" %>
                        <div style="margin-right: auto; margin-left: 8px; display: flex; align-items: center;">
                          <% if current_user.following.include?(card_collection.user) %>
                            <%= link_to "フォロー解除", relationship_path(current_user.active_relationships.find_by(followed_id: card_collection.user.id)), 
                                        method: :delete, style: "font-size: 12px; padding: 0; color: rgb(10, 165, 255); text-decoration: none;" %>
                          <% else %>
                            <%= link_to "フォロー", relationships_path(followed_id: card_collection.user.id), 
                                        method: :post, style: "font-size: 12px; padding: 0; color: rgb(10, 165, 255); text-decoration: none;" %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div style="font-size: 12px; color: #666; margin-top: 0px; margin-bottom: 0px;">
                    <% if card_collection.user.introduction.present? %>
                      <%= card_collection.user.introduction %>
                    <% else %>
                      自己紹介はまだ作成されていません
                    <% end %>
                  </div>
                </div>

              </address>
            </div>

            <!-- 投稿画像エリア (元画像を読み込み、CSSでサイズ調整) -->
            <div class="card-collection-item__content"
                  style="position: relative; width: 100%; aspect-ratio: 1 / 1; overflow: hidden; border-radius: 0.4rem;">
              <% if card_collection.card_images.any? && card_collection.card_images.first.image.attached? %>
                <%= link_to card_collection_path(card_collection),
                            style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                  <%= image_tag url_for(card_collection.card_images.first.image),
                                alt: "投稿写真",
                                style: "width: 100%; height: 100%; object-fit: cover;" %>
                <% end %>
              <% else %>
                <%= link_to card_collection_path(card_collection),
                            style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                  <div style="width: 100%; height: 100%; background-color: #f0f0f0;
                              display: flex; align-items: center; justify-content: center;">
                    <p style="margin: 0;">写真がアップロードされていません。</p>
                  </div>
                <% end %>
              <% end %>
            </div>
            
            <!-- アクションボタンエリア -->
            <div class="card-item-action-list" style="display: flex; justify-content: space-around; margin-top: 10px;">
              <div>
                <% if current_user.likes.exists?(likeable: card_collection) %>
                  <% like = current_user.likes.find_by(likeable: card_collection) %>
                  <%= link_to like_path(like), method: :delete, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-heart" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to likes_path(likeable_type: "CardCollection", likeable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-heart" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% if current_user.bookmarks.exists?(bookmarkable: card_collection) %>
                  <% bookmark = current_user.bookmarks.find_by(bookmarkable: card_collection) %>
                  <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "本当にブックマークを解除しますか？" }, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-bookmark" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to bookmarks_path(bookmarkable_type: "CardCollection", bookmarkable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-bookmark" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                  <i class="fa-regular fa-comment" style="font-size: 20px;"></i>
                  <% total_comments = card_collection.card_collection_comments.where(deleted: false).count +
                      CardCollectionReply.joins(:card_collection_comment)
                                          .where(card_collection_comments: { card_collection_id: card_collection.id }, deleted: false)
                                          .count %>
                  <span style="font-size: 14px; margin-left: 4px;"><%= total_comments %></span>
                <% end %>
              </div>
            </div>
          
            <!-- 投稿内容エリア -->
            <div class="card-item-description" style="font-size: 15px; color: #333; line-height: 1.4; max-height: 3.5em; overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-left: 5px; margin-bottom: 5px;">
              <%
                text = card_collection.card_images.map(&:content).reject(&:blank?).join("\n\n")
                lines = text.split(/\r?\n/)
                displayed_text = lines[0..1].join("\n") + (lines.size > 2 ? "\n..." : "")
              %>
              <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: inherit; font-size: 13px;" do %>
                <div class="two-lines" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                  <%= simple_format(displayed_text, { style: "margin: 5px 0px; margin-left: 10px; padding: 0;" }, wrapper_tag: 'div') %>
                </div>
              <% end %>
            </div>
          
            <!-- コメントエリア（最初のコメントのみ表示） -->
            <% all_comments = card_collection.card_collection_comments.where(deleted: false).to_a +
                                CardCollectionReply.joins(:card_collection_comment)
                                                    .where(card_collection_comments: { card_collection_id: card_collection.id }, deleted: false)
                                                    .to_a %>
            <% sorted_comments = all_comments.sort_by(&:created_at) %>
            <% if sorted_comments.any? %>
              <% first_comment = sorted_comments.first %>
              <div class="card-item-comment" style="display: flex; align-items: flex-start; margin: 5px 0px; padding: 0; margin-left: 10px;">
                <%= link_to user_path(first_comment.user), style: "text-decoration: none; display: flex; align-items: center;" do %>
                  <%= image_tag url_for(first_comment.user.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 24px; height: 24px; object-fit: cover; margin-right: 10px;" %>
                  <strong style="font-size: 12px; font-style: normal;"><%= first_comment.user.nickname %></strong>
                  <%= simple_format(
                                      truncate(first_comment.comment, length: 25, omission: '...'),
                                      { style: "margin-left: 10px; color: #333; font-size: 12px;" },
                                      wrapper_tag: 'div'
                                    ) %>
                <% end %>
              </div>
            <% end %>
          </article>
        </div>
      <% end %>
    </div>

  </div>
</div>


<div class="d-none d-md-block d-lg-none" style="margin:0 -10px; padding:0; box-sizing:border-box;">


  <div style="width: 100%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 카드파트 -->
    <div style="position: relative;">
      <div>
        <div style= "padding: 30px 25px 18px;
              border-radius: 4px;
              border: 1px solid rgb(218, 220, 224);
              box-shadow: rgba(63, 71, 77, 0.06); position: relative;">

          <div class="d-flex justify-content-between" style=" padding: 0px;min-height: 120px; position: relative; margin: 0px 0px 50px"><!-- プロフィール～設定 -->
            <div class="d-flex">
              <div style="position: relative; overflow: hidden;">
                <%= image_tag url_for(@userinfo.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 120px; height: 120px; object-fit: cover; border: 1px solid rgba(0, 0, 0, 0.1);" %>
              </div>

              <div class="pt-2" style="text-align: center; margin-left: 20px"><!-- その他 -->
                <div style="line-height: 1.15;         margin: 0px 0px 10px;
                              font-size: 22px; font-weight: bold;     color: rgb(41, 41, 41);
                          overflow-wrap: break-word;
                          word-break: break-all;
                      }">
                  <%= @userinfo.nickname %>
                </div>

                <div style="text-align: center;">
                  <div class="d-flex justify-content-center align-items-center mb-3 flex-nowrap text-nowrap text-secondary" style="font-size:12px; line-height:1.4;">
                    <div class="me-3" style="margin-right:5px;">
                      <span class="me-1" style="margin-right: 3px">フォロワー</span>
                      <%= link_to @userinfo.followers.count, follower_user_path(@userinfo),
                                  class: "fw-bold text-dark text-decoration-none" %>
                    </div>
                    <div style="padding-left: 5px; border-left: 1px solid black">
                      <span class="me-1" style="margin-right: 3px">フォロー中</span>
                      <%= link_to @userinfo.following.count, followee_user_path(@userinfo),
                                  class: "fw-bold text-dark text-decoration-none" %>
                    </div>
                  </div>
                </div>

                <div style="margin: 5px 0px;
                    text-align: start;     color: rgb(66, 66, 66);
                    font-size: 15px;
                    line-height: 1.4;
                    font-weight: 400;
                    word-break: break-word;"><!-- 自己紹介～SNS -->
                  <p class="mb-1">
                    <%= @userinfo.introduction.presence %>
                  </p>
                  <% if @userinfo.sns_link.present? %>
                    <% url = @userinfo.sns_link =~ /\Ahttp(s)?:\/\// ? @userinfo.sns_link : "http://#{@userinfo.sns_link}" %>
                    <% display_text = url.sub(/\Ahttps?:\/\//, "") %>
                    <p style="margin: 2px 0px 0px;
                              color: rgb(23, 120, 186);
                              transition: opacity 0.1s; padding: 0px">
                      <%= link_to display_text, url, target: "_blank", rel: "noopener noreferrer" %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>

            <% if current_user == @userinfo%>
              <div><!-- 設定ボタン -->
                <%= link_to "設定", edit_user_path(current_user), class: "btn",
                style: "margin: 0px;
                        background: none;
                        font-style: inherit;
                        font-variant: inherit;
                        font-stretch: inherit;
                        font-family: inherit;
                        font-optical-sizing: inherit;
                        font-size-adjust: inherit;
                        font-kerning: inherit;
                        font-feature-settings: inherit;
                        font-variation-settings: inherit;
                        font-size: 18px;
                        line-height: 18px;
                        display: inline-flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        height: 33px;
                        border-radius: 4px;
                        padding: 20px 16px;
                        font-weight: 500;
                        box-sizing: border-box;
                        text-align: center;
                        color: rgb(47, 52, 56);
                        border: 1px solid rgb(230, 230, 230);
                        width: 100px;"%>
              </div>
            <% else %>
              <div class="ms-auto">
                <% if user_signed_in? %>
                  <% unless current_user.email == "guest@example.com" %>
                    <% if current_user.following.include?(@userinfo) %>
                      <%= link_to "フォロー解除", relationship_path(current_user.active_relationships.find_by(followed_id: @userinfo)), 
                                  method: :delete,  
                                  class: "btn",
                                  style: "margin: 0px;
                                          background: none;
                                          font-style: inherit;
                                          font-variant: inherit;
                                          font-stretch: inherit;
                                          font-family: inherit;
                                          font-optical-sizing: inherit;
                                          font-size-adjust: inherit;
                                          font-kerning: inherit;
                                          font-feature-settings: inherit;
                                          font-variation-settings: inherit;
                                          font-size: 14px;
                                          line-height: 18px;
                                          display: inline-flex;
                                          -webkit-box-pack: center;
                                          justify-content: center;
                                          -webkit-box-align: center;
                                          align-items: center;
                                          height: 40px;
                                          border-radius: 4px;
                                          padding: 0px 16px;
                                          font-weight: 400;
                                          box-sizing: border-box;
                                          text-align: center;
                                          color: rgb(47, 52, 56);
                                          border: 1px solid rgb(230, 230, 230);
                                          width: 90px;"%>
                    <% else %>
                      <%= link_to "フォロー", relationships_path(followed_id: @userinfo), 
                                  method: :post, 
                                  class: "btn",
                                  style: "margin: 0px;
                                          border: none;
                                          background: none rgb(10, 165, 255);
                                          font-style: inherit;
                                          font-variant: inherit;
                                          font-stretch: inherit;
                                          font-family: inherit;
                                          font-optical-sizing: inherit;
                                          font-size-adjust: inherit;
                                          font-kerning: inherit;
                                          font-feature-settings: inherit;
                                          font-variation-settings: inherit;
                                          font-size: 14px;
                                          line-height: 18px;
                                          display: inline-flex;
                                          -webkit-box-pack: center;
                                          justify-content: center;
                                          -webkit-box-align: center;
                                          align-items: center;
                                          height: 40px;
                                          border-radius: 4px;
                                          padding: 0px 16px;
                                          box-sizing: border-box;
                                          text-align: center;
                                          color: rgb(255, 255, 255);
                                          font-weight: 700;
                                          width: 80px;"%>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            
          </div>




          <% if current_user == @userinfo %>
            <div style="padding: 24px 0px 6px; border-top: 1px solid rgb(234, 235, 239);"><!-- ブックマーク、いいね -->
              <div class="d-flex justify-content-around">
                <%= link_to collections_user_path(@userinfo),
                            class: "btn d-flex flex-column align-items-center justify-content-center p-0",
                            style: "width: 90px; height: 80px; font-size: 13px; color: #292929; margin-left:30px;" do %>
                  <i class="fa-regular fa-bookmark" style="font-size: 23px;"></i>
                  <small class="mt-1">ブックマーク</small>
                  <small><%= @userinfo.bookmarks.where(bookmarkable_type: "CardCollection").count %></small>
                <% end %>
              
                <%= link_to likes_user_path(@userinfo),
                            class: "btn d-flex flex-column align-items-center justify-content-center p-0",
                            style: "width: 90px; height: 80px; font-size: 15px; color: #292929; margin-right:30px;" do %>
                  <i class="fa-regular fa-heart" style="font-size: 23px;"></i>
                  <small class="mt-1">いいね</small>
                  <small><%= Like.where(user_id: @userinfo.id, likeable_type: "CardCollection").count %></small>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 中間スペースパート -->
  </div>

  <div style="width: 100%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 사진,좋아요,북마크파트 -->
    <div class="row" style="padding-top: 0px; padding-bottom: 5900px; transform: translateY(0px);">
      <% @card_collections.each do |card_collection| %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4" style="padding: 0 10px; margin-bottom: 30px;">
          <article class="card-collection-item" style="overflow: hidden; transition: box-shadow 0.2s ease;">
            <!-- 投稿者エリア -->
            <div class="card-item-writer" style="padding: 10px;">
              <address style="margin: 0; display: flex;">
                <div class="card-item-writer__header" style="display: flex; align-items: center;">
                  <%= link_to user_path(card_collection.user), class: "card-item-writer__link", style: "display: flex; align-items: center; text-decoration: none; color: inherit;" do %>
                    <%= image_tag url_for(card_collection.user.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 40px; height: 40px; object-fit: cover; margin-right: 10px;" %>
                  <% end %>
                </div>

                <div>
                  <div style="display: flex;">
                    <%= link_to user_path(card_collection.user), class: "card-item-writer__link" do %>
                      <div style="display: flex; align-items: center; font-size: 13px; font-weight: bold;"><%= card_collection.user.nickname %></div>
                    <% end %>

                    <% unless current_user == card_collection.user %>
                      <% unless current_user.email == "guest@example.com" %>
                        <div style="margin-right: auto; margin-left: 8px; display: flex; align-items: center;">
                          <% if current_user.following.include?(card_collection.user) %>
                            <%= link_to "フォロー解除", relationship_path(current_user.active_relationships.find_by(followed_id: card_collection.user.id)), 
                                        method: :delete, style: "font-size: 12px; padding: 0; color: rgb(10, 165, 255); text-decoration: none;" %>
                          <% else %>
                            <%= link_to "フォロー", relationships_path(followed_id: card_collection.user.id), 
                                        method: :post, style: "font-size: 12px; padding: 0; color: rgb(10, 165, 255); text-decoration: none;" %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div style="font-size: 12px; color: #666; margin-top: 0px; margin-bottom: 0px;">
                    <% if card_collection.user.introduction.present? %>
                      <%= card_collection.user.introduction %>
                    <% else %>
                      自己紹介はまだ作成されていません
                    <% end %>
                  </div>
                </div>

              </address>
            </div>

            <!-- 投稿画像エリア (元画像を読み込み、CSSでサイズ調整) -->
            <div class="card-collection-item__content"
                  style="position: relative; width: 100%; aspect-ratio: 1 / 1; overflow: hidden; border-radius: 0.4rem;">
              <% if card_collection.card_images.any? && card_collection.card_images.first.image.attached? %>
                <%= link_to card_collection_path(card_collection),
                            style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                  <%= image_tag url_for(card_collection.card_images.first.image),
                                alt: "投稿写真",
                                style: "width: 100%; height: 100%; object-fit: cover;" %>
                <% end %>
              <% else %>
                <%= link_to card_collection_path(card_collection),
                            style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                  <div style="width: 100%; height: 100%; background-color: #f0f0f0;
                              display: flex; align-items: center; justify-content: center;">
                    <p style="margin: 0;">写真がアップロードされていません。</p>
                  </div>
                <% end %>
              <% end %>
            </div>
            
            <!-- アクションボタンエリア -->
            <div class="card-item-action-list" style="display: flex; justify-content: space-around; margin-top: 10px;">
              <div>
                <% if current_user.likes.exists?(likeable: card_collection) %>
                  <% like = current_user.likes.find_by(likeable: card_collection) %>
                  <%= link_to like_path(like), method: :delete, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-heart" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to likes_path(likeable_type: "CardCollection", likeable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-heart" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% if current_user.bookmarks.exists?(bookmarkable: card_collection) %>
                  <% bookmark = current_user.bookmarks.find_by(bookmarkable: card_collection) %>
                  <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "本当にブックマークを解除しますか？" }, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-bookmark" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to bookmarks_path(bookmarkable_type: "CardCollection", bookmarkable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-bookmark" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                  <i class="fa-regular fa-comment" style="font-size: 20px;"></i>
                  <% total_comments = card_collection.card_collection_comments.where(deleted: false).count +
                      CardCollectionReply.joins(:card_collection_comment)
                                          .where(card_collection_comments: { card_collection_id: card_collection.id }, deleted: false)
                                          .count %>
                  <span style="font-size: 14px; margin-left: 4px;"><%= total_comments %></span>
                <% end %>
              </div>
            </div>
          
            <!-- 投稿内容エリア -->
            <div class="card-item-description" style="font-size: 15px; color: #333; line-height: 1.4; max-height: 3.5em; overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-left: 5px; margin-bottom: 5px;">
              <%
                text = card_collection.card_images.map(&:content).reject(&:blank?).join("\n\n")
                lines = text.split(/\r?\n/)
                displayed_text = lines[0..1].join("\n") + (lines.size > 2 ? "\n..." : "")
              %>
              <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: inherit; font-size: 13px;" do %>
                <div class="two-lines" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                  <%= simple_format(displayed_text, { style: "margin: 5px 0px; margin-left: 10px; padding: 0;" }, wrapper_tag: 'div') %>
                </div>
              <% end %>
            </div>
          
            <!-- コメントエリア（最初のコメントのみ表示） -->
            <% all_comments = card_collection.card_collection_comments.where(deleted: false).to_a +
                                CardCollectionReply.joins(:card_collection_comment)
                                                    .where(card_collection_comments: { card_collection_id: card_collection.id }, deleted: false)
                                                    .to_a %>
            <% sorted_comments = all_comments.sort_by(&:created_at) %>
            <% if sorted_comments.any? %>
              <% first_comment = sorted_comments.first %>
              <div class="card-item-comment" style="display: flex; align-items: flex-start; margin: 5px 0px; padding: 0; margin-left: 10px;">
                <%= link_to user_path(first_comment.user), style: "text-decoration: none; display: flex; align-items: center;" do %>
                  <%= image_tag url_for(first_comment.user.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 24px; height: 24px; object-fit: cover; margin-right: 10px;" %>
                  <strong style="font-size: 12px; font-style: normal;"><%= first_comment.user.nickname %></strong>
                  <%= simple_format(
                                      truncate(first_comment.comment, length: 25, omission: '...'),
                                      { style: "margin-left: 10px; color: #333; font-size: 12px;" },
                                      wrapper_tag: 'div'
                                    ) %>
                <% end %>
              </div>
            <% end %>
          </article>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="d-md-none" style="margin:0 -10px; padding:0; box-sizing:border-box;">


  <div style="width: 100%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 카드파트 -->
    <div style="position: relative;">
      <div>
        <div style= "padding-top: 10px;
              border-radius: 4px;
              border: 1px solid rgb(218, 220, 224);
              box-shadow: rgba(63, 71, 77, 0.06); position: relative;">

          <div style=" padding: 0px;min-height: 120px; position: relative; margin: 0px 0px 20px"><!-- プロフィール～設定 -->
            
              <div style="text-align: center; position: relative; overflow: hidden;">
                <%= image_tag url_for(@userinfo.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 100px; height: 100px; object-fit: cover; border: 1px solid rgba(0, 0, 0, 0.1);" %>
              </div>

              <div class="pt-2" style="text-align: center;"><!-- その他 -->
                <div style="line-height: 1.15; margin: 0px 0px 3px;
                              font-size: 18px; font-weight: bold;     color: rgb(41, 41, 41);
                          overflow-wrap: break-word;
                          word-break: break-all;
                      }">
                  <%= @userinfo.nickname %>
                </div>

                <div style="text-align: center;">
                  <div class="d-flex justify-content-center align-items-center flex-nowrap text-nowrap text-secondary" style="font-size:12px; line-height:1.4;">
                    <div class="me-3" style="margin-right:5px;">
                      <span class="me-1" style="margin-right: 3px">フォロワー</span>
                      <%= link_to @userinfo.followers.count, follower_user_path(@userinfo),
                                  class: "fw-bold text-dark text-decoration-none" %>
                    </div>
                    <div style="padding-left: 5px; border-left: 1px solid black">
                      <span class="me-1" style="margin-right: 3px">フォロー中</span>
                      <%= link_to @userinfo.following.count, followee_user_path(@userinfo),
                                  class: "fw-bold text-dark text-decoration-none" %>
                    </div>
                  </div>
                </div>

                <div style="margin: 5px 0px;
                    text-align: center;     color: rgb(66, 66, 66);
                    font-size: 13px;
                    line-height: 1.4;
                    font-weight: 400;
                    word-break: break-word;"><!-- 自己紹介～SNS -->
                  <p class="mb-1">
                    <%= @userinfo.introduction.presence %>
                  </p>
                  <% if @userinfo.sns_link.present? %>
                    <% url = @userinfo.sns_link =~ /\Ahttp(s)?:\/\// ? @userinfo.sns_link : "http://#{@userinfo.sns_link}" %>
                    <% display_text = url.sub(/\Ahttps?:\/\//, "") %>
                    <p style="margin: 2px 0px 0px;
                              color: rgb(23, 120, 186);
                              transition: opacity 0.1s; padding: 0px">
                      <%= link_to display_text, url, target: "_blank", rel: "noopener noreferrer" %>
                    </p>
                  <% end %>
                </div>
              </div>
            

            <% if current_user == @userinfo%>
              <div class="pt-2" style="text-align: center;"><!-- 設定ボタン -->
                <%= link_to "設定", edit_user_path(current_user), class: "btn",
                style: "margin: 0px;
                        background: none;
                        font-style: inherit;
                        font-variant: inherit;
                        font-stretch: inherit;
                        font-family: inherit;
                        font-optical-sizing: inherit;
                        font-size-adjust: inherit;
                        font-kerning: inherit;
                        font-feature-settings: inherit;
                        font-variation-settings: inherit;
                        font-size: 18px;
                        line-height: 18px;
                        display: inline-flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        height: 33px;
                        border-radius: 4px;
                        padding: 20px 16px;
                        font-weight: 500;
                        box-sizing: border-box;
                        text-align: center;
                        color: rgb(47, 52, 56);
                        border: 1px solid rgb(230, 230, 230);
                        width: 100px;"%>
              </div>
            <% else %>
              <div style="
                  display: flex;
                  justify-content: center;  /* ← 横方向中央寄せ */
                  align-items: center;
                  width: 100%;              /* ← 親要素を行いっぱいに */
                  padding-top: 8px;         /* ← 必要に応じて余白調整 */
                ">
                <% if user_signed_in? %>
                  <% unless current_user.email == "guest@example.com" %>
                    <% if current_user.following.include?(@userinfo) %>
                      <%= link_to "フォロー解除", relationship_path(current_user.active_relationships.find_by(followed_id: @userinfo)), 
                                  method: :delete,  
                                  class: "btn",
                                  style: "margin: 0px;
                                          background: none;
                                          font-style: inherit;
                                          font-variant: inherit;
                                          font-stretch: inherit;
                                          font-family: inherit;
                                          font-optical-sizing: inherit;
                                          font-size-adjust: inherit;
                                          font-kerning: inherit;
                                          font-feature-settings: inherit;
                                          font-variation-settings: inherit;
                                          font-size: 14px;
                                          line-height: 18px;
                                          display: inline-flex;
                                          -webkit-box-pack: center;
                                          justify-content: center;
                                          -webkit-box-align: center;
                                          align-items: center;
                                          height: 40px;
                                          border-radius: 4px;
                                          padding: 0px 16px;
                                          font-weight: 400;
                                          box-sizing: border-box;
                                          text-align: center;
                                          color: rgb(47, 52, 56);
                                          border: 1px solid rgb(230, 230, 230);
                                          width: 90px;"%>
                    <% else %>
                      <%= link_to "フォロー", relationships_path(followed_id: @userinfo), 
                                  method: :post, 
                                  class: "btn",
                                  style: "margin: 0px;
                                          border: none;
                                          background: none rgb(10, 165, 255);
                                          font-style: inherit;
                                          font-variant: inherit;
                                          font-stretch: inherit;
                                          font-family: inherit;
                                          font-optical-sizing: inherit;
                                          font-size-adjust: inherit;
                                          font-kerning: inherit;
                                          font-feature-settings: inherit;
                                          font-variation-settings: inherit;
                                          font-size: 14px;
                                          line-height: 18px;
                                          display: inline-flex;
                                          -webkit-box-pack: center;
                                          justify-content: center;
                                          -webkit-box-align: center;
                                          align-items: center;
                                          height: 40px;
                                          border-radius: 4px;
                                          padding: 0px 16px;
                                          box-sizing: border-box;
                                          text-align: center;
                                          color: rgb(255, 255, 255);
                                          font-weight: 700;
                                          width: 80px;"%>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            
          </div>




          <% if current_user == @userinfo %>
            <div style="padding: 10px 0px 6px; border-top: 1px solid rgb(234, 235, 239);"><!-- ブックマーク、いいね -->
              <div class="d-flex justify-content-around">
                <%= link_to collections_user_path(@userinfo),
                            class: "btn d-flex flex-column align-items-center justify-content-center p-0",
                            style: "width: 90px; height: 80px; font-size: 13px; color: #292929; margin-left:30px;" do %>
                  <i class="fa-regular fa-bookmark" style="font-size: 23px;"></i>
                  <small class="mt-1">ブックマーク</small>
                  <small><%= @userinfo.bookmarks.where(bookmarkable_type: "CardCollection").count %></small>
                <% end %>
              
                <%= link_to likes_user_path(@userinfo),
                            class: "btn d-flex flex-column align-items-center justify-content-center p-0",
                            style: "width: 90px; height: 80px; font-size: 15px; color: #292929; margin-right:30px;" do %>
                  <i class="fa-regular fa-heart" style="font-size: 23px;"></i>
                  <small class="mt-1">いいね</small>
                  <small><%= Like.where(user_id: @userinfo.id, likeable_type: "CardCollection").count %></small>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 中間スペースパート -->
  </div>

  <div style="width: 100%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 사진,좋아요,북마크파트 -->
    <div class="row" style="padding-top: 0px; padding-bottom: 5900px; transform: translateY(0px);">
      <% @card_collections.each do |card_collection| %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4" style="padding: 0 10px; margin-bottom: 30px;">
          <article class="card-collection-item" style="overflow: hidden; transition: box-shadow 0.2s ease;">
            <!-- 投稿者エリア -->
            <div class="card-item-writer" style="padding: 10px;">
              <address style="margin: 0; display: flex;">
                <div class="card-item-writer__header" style="display: flex; align-items: center;">
                  <%= link_to user_path(card_collection.user), class: "card-item-writer__link", style: "display: flex; align-items: center; text-decoration: none; color: inherit;" do %>
                    <%= image_tag url_for(card_collection.user.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 40px; height: 40px; object-fit: cover; margin-right: 10px;" %>
                  <% end %>
                </div>

                <div>
                  <div style="display: flex;">
                    <%= link_to user_path(card_collection.user), class: "card-item-writer__link" do %>
                      <div style="display: flex; align-items: center; font-size: 13px; font-weight: bold;"><%= card_collection.user.nickname %></div>
                    <% end %>

                    <% unless current_user == card_collection.user %>
                      <% unless current_user.email == "guest@example.com" %>
                        <div style="margin-right: auto; margin-left: 8px; display: flex; align-items: center;">
                          <% if current_user.following.include?(card_collection.user) %>
                            <%= link_to "フォロー解除", relationship_path(current_user.active_relationships.find_by(followed_id: card_collection.user.id)), 
                                        method: :delete, style: "font-size: 12px; padding: 0; color: rgb(10, 165, 255); text-decoration: none;" %>
                          <% else %>
                            <%= link_to "フォロー", relationships_path(followed_id: card_collection.user.id), 
                                        method: :post, style: "font-size: 12px; padding: 0; color: rgb(10, 165, 255); text-decoration: none;" %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div style="font-size: 12px; color: #666; margin-top: 0px; margin-bottom: 0px;">
                    <% if card_collection.user.introduction.present? %>
                      <%= card_collection.user.introduction %>
                    <% else %>
                      自己紹介はまだ作成されていません
                    <% end %>
                  </div>
                </div>

              </address>
            </div>

            <!-- 投稿画像エリア (元画像を読み込み、CSSでサイズ調整) -->
            <div class="card-collection-item__content"
                  style="position: relative; width: 100%; aspect-ratio: 1 / 1; overflow: hidden; border-radius: 0.4rem;">
              <% if card_collection.card_images.any? && card_collection.card_images.first.image.attached? %>
                <%= link_to card_collection_path(card_collection),
                            style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                  <%= image_tag url_for(card_collection.card_images.first.image),
                                alt: "投稿写真",
                                style: "width: 100%; height: 100%; object-fit: cover;" %>
                <% end %>
              <% else %>
                <%= link_to card_collection_path(card_collection),
                            style: "display: block; width: 100%; height: 100%; text-decoration: none;" do %>
                  <div style="width: 100%; height: 100%; background-color: #f0f0f0;
                              display: flex; align-items: center; justify-content: center;">
                    <p style="margin: 0;">写真がアップロードされていません。</p>
                  </div>
                <% end %>
              <% end %>
            </div>
            
            <!-- アクションボタンエリア -->
            <div class="card-item-action-list" style="display: flex; justify-content: space-around; margin-top: 10px;">
              <div>
                <% if current_user.likes.exists?(likeable: card_collection) %>
                  <% like = current_user.likes.find_by(likeable: card_collection) %>
                  <%= link_to like_path(like), method: :delete, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-heart" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to likes_path(likeable_type: "CardCollection", likeable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-heart" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% if current_user.bookmarks.exists?(bookmarkable: card_collection) %>
                  <% bookmark = current_user.bookmarks.find_by(bookmarkable: card_collection) %>
                  <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "本当にブックマークを解除しますか？" }, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-bookmark" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to bookmarks_path(bookmarkable_type: "CardCollection", bookmarkable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-bookmark" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                  <i class="fa-regular fa-comment" style="font-size: 20px;"></i>
                  <% total_comments = card_collection.card_collection_comments.where(deleted: false).count +
                      CardCollectionReply.joins(:card_collection_comment)
                                          .where(card_collection_comments: { card_collection_id: card_collection.id }, deleted: false)
                                          .count %>
                  <span style="font-size: 14px; margin-left: 4px;"><%= total_comments %></span>
                <% end %>
              </div>
            </div>
          
            <!-- 投稿内容エリア -->
            <div class="card-item-description" style="font-size: 15px; color: #333; line-height: 1.4; max-height: 3.5em; overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-left: 5px; margin-bottom: 5px;">
              <%
                text = card_collection.card_images.map(&:content).reject(&:blank?).join("\n\n")
                lines = text.split(/\r?\n/)
                displayed_text = lines[0..1].join("\n") + (lines.size > 2 ? "\n..." : "")
              %>
              <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: inherit; font-size: 13px;" do %>
                <div class="two-lines" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                  <%= simple_format(displayed_text, { style: "margin: 5px 0px; margin-left: 10px; padding: 0;" }, wrapper_tag: 'div') %>
                </div>
              <% end %>
            </div>
          
            <!-- コメントエリア（最初のコメントのみ表示） -->
            <% all_comments = card_collection.card_collection_comments.where(deleted: false).to_a +
                                CardCollectionReply.joins(:card_collection_comment)
                                                    .where(card_collection_comments: { card_collection_id: card_collection.id }, deleted: false)
                                                    .to_a %>
            <% sorted_comments = all_comments.sort_by(&:created_at) %>
            <% if sorted_comments.any? %>
              <% first_comment = sorted_comments.first %>
              <div class="card-item-comment" style="display: flex; align-items: flex-start; margin: 5px 0px; padding: 0; margin-left: 10px;">
                <%= link_to user_path(first_comment.user), style: "text-decoration: none; display: flex; align-items: center;" do %>
                  <%= image_tag url_for(first_comment.user.get_profile_image), alt: "プロフィール画像", class: "rounded-circle", style: "width: 24px; height: 24px; object-fit: cover; margin-right: 10px;" %>
                  <strong style="font-size: 12px; font-style: normal;"><%= first_comment.user.nickname %></strong>
                  <%= simple_format(
                                      truncate(first_comment.comment, length: 25, omission: '...'),
                                      { style: "margin-left: 10px; color: #333; font-size: 12px;" },
                                      wrapper_tag: 'div'
                                    ) %>
                <% end %>
              </div>
            <% end %>
          </article>
        </div>
      <% end %>
    </div>

  </div>
</div>