<div style="margin: 0px -10px; display: flex; flex-wrap: wrap; box-sizing: border-box; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><!-- 전체 -->


  <div style="width: 25%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 카드파트 -->
    <div style="position: sticky; top: 160px; transition: top 0.1s;"><!-- 카드내부파트 -->
      <div style="position: relative;">
        <div>
          <div style= "padding: 30px 25px 18px;
                border-radius: 4px;
                border: 1px solid rgb(218, 220, 224);
                box-shadow: rgba(63, 71, 77, 0.06); position: relative;">

            <div style=" padding: 0px;min-height: 120px;     position: relative; margin: 0px 0px 20px"><!-- 프로필~설정 -->
                <div style="width: 120px;
                      height: 120px; position: relative;
                      margin: 0px auto 24px; top: 0px;
                  left: 0px;     border-radius: 100%;
                  background-color: rgb(237, 237, 237);
                  overflow: hidden;">
                  <%= image_tag url_for(@userinfo.get_profile_image(120, 120)), alt: "프로필 이미지", class: "rounded-circle", style: "width: 120px; height: 120px; object-fit: cover; border: 1px solid rgba(0, 0, 0, 0.1);" %>
                </div>

                <div style="text-align: center;"><!-- 그외 -->
                  <div style="line-height: 1.15;         margin: 0px 0px 10px;
                                font-size: 26px; font-weight: bold;     color: rgb(41, 41, 41);
                            overflow-wrap: break-word;
                            word-break: break-all;
                        }">
                    <%= @userinfo.nickname %>
                  </div>
  
                  <div style="text-align: center;">
                    <dl style="margin: 0px 0px 13px; display: block;
                      font-size: 13px;
                      font-weight: 400;
                      line-height: 19px;
                      color: rgb(130, 140, 148);"><!-- 팔로워 팔로잉 -->
                      <dt style="display: inline-block;
                        margin-right: 5px;">팔로워
                      </dt>

                      <dd style="display: inline-block;
                        
                        font-weight: bold;
                        color: rgb(82, 91, 97);">

                        <%= link_to follower_user_path(@userinfo), style: "opacity: 1;
                        transition: opacity 0.1s; cursor: pointer;     touch-action: manipulation; color: inherit;
                        text-decoration: none;" do %>
                          <%= @userinfo.followers.count %>
                        <% end %>
                      </dd>

                      <div style="display: inline-block; width:9px; height:9px; border-right: 1px solid rgba(0, 0, 0, 0.4);"></div>

                      <dt style="display: inline-block;
                        margin-right: 5px; margin-left: 9px;">
                        팔로잉
                      </dt>

                      <dd style="display: inline-block;
                        margin-right: 10px;
                        font-weight: bold;
                        color: rgb(82, 91, 97);">
                        <%= link_to followee_user_path(@userinfo), style: "opacity: 1;
                            transition: opacity 0.1s; cursor: pointer;     touch-action: manipulation; color: inherit;
                            text-decoration: none;" do %>
                          <%= @userinfo.following.count %>
                        <% end %>
                      </dd>


                    </dl>



                    <% if current_user == @userinfo%>
                      <div><!-- 설정버튼 -->
                        <%= link_to "설정", edit_user_path(current_user), class: "btn",
                        style: "margin: 0px;
                                background: none;
                                font-style: inherit;
                                font-variant: inherit;
                                font-stretch: inherit;
                                font-family: inherit;
                                font-optical-sizing: inherit;
                                font-size-adjust: inherit;
                                font-kerning: inherit;
                                font-feature-settings: inherit;
                                font-variation-settings: inherit;
                                font-size: 12px;
                                line-height: 18px;
                                display: inline-flex;
                                -webkit-box-pack: center;
                                justify-content: center;
                                -webkit-box-align: center;
                                align-items: center;
                                height: 33px;
                                border-radius: 4px;
                                padding: 0px 16px;
                                font-weight: 400;
                                box-sizing: border-box;
                                text-align: center;
                                color: rgb(47, 52, 56);
                                border: 1px solid rgb(230, 230, 230);
                                width: 56px;"%>
                      </div>
                    <% else %>
                      <div class="ms-auto">
                        <% if user_signed_in? %>
                          <% unless current_user.email == "guest@example.com" %>
                            <% if current_user.following.include?(@userinfo) %>
                              <%= link_to "언팔로우", relationship_path(current_user.active_relationships.find_by(followed_id: @userinfo)), 
                                          method: :delete,  
                                          class: "btn",
                                          style: "margin: 0px;
                                                  background: none;
                                                  font-style: inherit;
                                                  font-variant: inherit;
                                                  font-stretch: inherit;
                                                  font-family: inherit;
                                                  font-optical-sizing: inherit;
                                                  font-size-adjust: inherit;
                                                  font-kerning: inherit;
                                                  font-feature-settings: inherit;
                                                  font-variation-settings: inherit;
                                                  font-size: 14px;
                                                  line-height: 18px;
                                                  display: inline-flex;
                                                  -webkit-box-pack: center;
                                                  justify-content: center;
                                                  -webkit-box-align: center;
                                                  align-items: center;
                                                  height: 40px;
                                                  border-radius: 4px;
                                                  padding: 0px 16px;
                                                  font-weight: 400;
                                                  box-sizing: border-box;
                                                  text-align: center;
                                                  color: rgb(47, 52, 56);
                                                  border: 1px solid rgb(230, 230, 230);
                                                  width: 90px;"%>
                            <% else %>
                              <%= link_to "팔로우", relationships_path(followed_id: @userinfo), 
                                          method: :post, 
                                          class: "btn",
                                          style: "margin: 0px;
                                                  border: none;
                                                  background: none rgb(10, 165, 255);
                                                  font-style: inherit;
                                                  font-variant: inherit;
                                                  font-stretch: inherit;
                                                  font-family: inherit;
                                                  font-optical-sizing: inherit;
                                                  font-size-adjust: inherit;
                                                  font-kerning: inherit;
                                                  font-feature-settings: inherit;
                                                  font-variation-settings: inherit;
                                                  font-size: 14px;
                                                  line-height: 18px;
                                                  display: inline-flex;
                                                  -webkit-box-pack: center;
                                                  justify-content: center;
                                                  -webkit-box-align: center;
                                                  align-items: center;
                                                  height: 40px;
                                                  border-radius: 4px;
                                                  padding: 0px 16px;
                                                  box-sizing: border-box;
                                                  text-align: center;
                                                  color: rgb(255, 255, 255);
                                                  font-weight: 700;
                                                  width: 80px;"%>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
            </div>


            <div style="margin: 24px 0px;
                text-align: center;     color: rgb(66, 66, 66);
                font-size: 15px;
                line-height: 1.4;
                font-weight: 400;
                word-break: break-word;"><!-- 자기소개~에스엔에스 -->
              <p class="mb-1">
                <%= @userinfo.introduction.presence%>
              </p>
              <% if @userinfo.sns_link.present? %>
                <% url = @userinfo.sns_link =~ /\Ahttp(s)?:\/\// ? @userinfo.sns_link : "http://#{@userinfo.sns_link}" %>
                <% display_text = url.sub(/\Ahttps?:\/\//, "") %>
                <p style="margin: 2px 0px 0px;
                          color: rgb(23, 120, 186);
                          transition: opacity 0.1s; padding: 0px">
                  <%= link_to display_text, url, target: "_blank", rel: "noopener noreferrer" %>
                </p>
              <% end %>
            </div>

            <% if current_user == @userinfo%>
              <div style="padding: 24px 0px 6px;         border-top: 1px solid rgb(234, 235, 239);"><!-- 좋아요,북마크 -->
                <div style="display: flex; color: rgb(41, 41, 41); justify-content: center;">
                  <%= link_to collections_user_path(@userinfo), class: "btn" do %>
                    <i class="fa-regular fa-bookmark" style="font-size: 28px;"></i>
                    <div>북마크</div>
                    <div><%= @userinfo.bookmarks.where(bookmarkable_type: "CardCollection").count %></div>
                  <% end %>

                  <%= link_to likes_user_path(@userinfo), class: "btn" do %>
                    <i class="fa-regular fa-heart" style="font-size: 28px;"></i>
                    <div>좋아요</div>
                    <div><%= Like.where(user_id: @userinfo.id, likeable_type: "CardCollection").count %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 8.333333333333332%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 중간공간파트 -->
  </div>

  <div style="width: 66.66666666666666%; padding-left: 10px; padding-right: 10px;position: relative; padding-top: 30px;"><!-- 사진,좋아요,북마크파트 -->
    <div style="display: flex; flex-wrap: wrap; margin: 0 -10px; box-sizing: border-box;">
      <% @card_collections.each do |card_collection| %>
        <div style="width: calc((100% - 20px) / 3); padding: 0 10px; margin-bottom: 30px; box-sizing: border-box;">
          <article class="card-collection-item" style="overflow: hidden; transition: box-shadow 0.2s ease;">
            <!-- 작성자 영역 -->
            <div class="card-item-writer" style="padding-bottom: 5px;">
              <address style="margin: 0; display: flex; align-items: center;">
                <%= link_to user_path(card_collection.user), style: "display: flex; align-items: center; text-decoration: none; color: inherit;" do %>
                  <%= image_tag url_for(card_collection.user.get_profile_image(36, 36)), alt: "프로필 이미지", class: "rounded-circle", style: "width: 35px; height: 35px; object-fit: cover; margin-right: 10px;" %>
                <% end %>
                <div style="flex-grow: 1;">
                  <%= link_to user_path(card_collection.user), style: "text-decoration: none; color: inherit;" do %>
                    <div style="font-size: 13px; font-weight: bold;"><%= card_collection.user.nickname %></div>
                  <% end %>
                  <div style="font-size: 12px; color: #666;">
                    <% if card_collection.user.introduction.present? %>
                      <%= card_collection.user.introduction %>
                    <% else %>
                      作成された自己紹介はありません
                    <% end %>
                  </div>

                </div>
              </address>
            </div>

            <!-- 게시물 이미지 영역 (variant 제거, CSS로 정사각형 영역 구현) -->
            <div class="card-collection-item__content" style="position: relative;">
              <% if card_collection.card_images.any? && card_collection.card_images.first.image.attached? %>
                <%= link_to card_collection_path(card_collection), style: "text-decoration: none;" do %>
                  <!-- 정사각형 컨테이너: width 100%, padding-top 100%로 비율 유지 -->
                  <div style="position: relative; width: 100%; padding-top: 100%; overflow: hidden;">
                    <%= image_tag url_for(card_collection.card_images.first.image),
                                  alt: "투고 사진",
                                  class: "img-fluid rounded",
                                  style: "position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to card_collection_path(card_collection), style: "text-decoration: none;" do %>
                  <div class="rounded" style="width: 100%; padding-top: 100%; position: relative; background-color: #f0f0f0;">
                    <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; font-size: 14px; color: #999;">
                      사진이 업로드되지 않았습니다.
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>

            <!-- 액션 버튼 영역 -->
            <div class="card-item-action-list" style="display: flex; justify-content: space-around; margin-top: 10px;">
              <div>
                <% if current_user.likes.exists?(likeable: card_collection) %>
                  <% like = current_user.likes.find_by(likeable: card_collection) %>
                  <%= link_to like_path(like), method: :delete, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-heart" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to likes_path(likeable_type: "CardCollection", likeable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-heart" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.likes.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% if current_user.bookmarks.exists?(bookmarkable: card_collection) %>
                  <% bookmark = current_user.bookmarks.find_by(bookmarkable: card_collection) %>
                  <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "정말 북마크를 취소하시겠습니까?" }, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-solid fa-bookmark" style="font-size: 20px; color: rgb(10, 165, 255);"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to bookmarks_path(bookmarkable_type: "CardCollection", bookmarkable_id: card_collection.id), method: :post, style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                    <i class="fa-regular fa-bookmark" style="font-size: 20px;"></i>
                    <span style="font-size: 14px; margin-left: 4px;"><%= card_collection.bookmarks.count %></span>
                  <% end %>
                <% end %>
              </div>
              <div>
                <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: #555; display: flex; align-items: center;" do %>
                  <i class="fa-regular fa-comment" style="font-size: 20px;"></i>
                  <% total_comments = card_collection.card_collection_comments.where(deleted: false).count +
                      CardCollectionReply.joins(:card_collection_comment)
                                          .where(card_collection_comments: { card_collection_id: card_collection.id }, deleted: false)
                                          .count %>
                  <span style="font-size: 14px; margin-left: 4px;"><%= total_comments %></span>
                <% end %>
              </div>
            </div>

            <!-- 게시글 내용 영역 -->
            <div class="card-item-description" style="font-size: 15px; color: #333; line-height: 1.4; max-height: 3.5em; overflow: hidden; text-overflow: ellipsis; margin-top: 10px;">
              <%
                text = card_collection.card_images.map(&:content).reject(&:blank?).join("\n\n")
                lines = text.split(/\r?\n/)
                displayed_text = lines[0..1].join("\n") + (lines.size > 2 ? "\n..." : "")
              %>
              <%= link_to card_collection_path(card_collection), style: "text-decoration: none; color: inherit; font-size: 13px;" do %>
                <div class="two-lines" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                  <%= simple_format(displayed_text) %>
                </div>
              <% end %>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>


</div>