<%= form_with model: @userinfo, local: true do |f| %>
  <% if @userinfo.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@userinfo.errors.count, "error") %> prohibited this obj from being saved:</h3>
      <ul>
        <% @userinfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= f.label :profile_image, "프로필 이미지" %><br>
    <%= f.file_field :profile_image, accept: "image/*", onchange: "previewUserImage(this, 'profile_image_preview')" %>
    <div id="profile_image_preview" style="margin-top: 10px;">
      <% if @userinfo.profile_image.attached? %>
        <%= image_tag url_for(@userinfo.profile_image), style: "max-width:200px; display:block;" %>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.label :nickname %>
    <%= f.text_field :nickname%>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email%>
  </div>

  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number%>
  </div>

  <div>
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(["선택하지않음", "여성", "남성"]) %>
  </div>
  <div>
    <%= f.label :introduction, "Introduction" %>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= f.label :sns_link %>
    <%= f.text_field :sns_link%>
  </div>





  <div>
    <%= f.submit "Update User" %>
  </div>
<% end %>

<script>
  function previewUserImage(input, previewId) {
    var previewDiv = document.getElementById(previewId);
    // 새 이미지가 선택되면 미리보기 영역을 초기화합니다.
    previewDiv.innerHTML = "";
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var img = document.createElement("img");
        img.src = e.target.result;
        img.style.maxWidth = "200px";
        img.style.display = "block";
        previewDiv.appendChild(img);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>