<div class="d-flex" style="padding: 0 60px; position: relative;"><!-- 전체 -->
  <div style="width: 25%; padding-left: 10px; padding-right: 10px; padding-top: 30px;"><!-- 카드파트 -->

    <div class="card sticky-container d-flex flex-column" style="top: 81px; transition: top 0.1s; text-align: center; padding: 30px 25px 18px;"><!-- 카드내부파트 -->

      <div><!-- 프로필~설정 -->
        <div style="margin: 0 auto 24px;"><!-- 프로필사진 -->
            <%= image_tag url_for(@userinfo.get_profile_image(120, 120)), alt: "프로필 이미지", class: "rounded-circle", style: "width: 120px; height: 120px; object-fit: cover;" %>
        </div>
        
        <div><!-- 그외 -->
          <div class="mb-1" style="font-size: 15px; margin: 0 0 10px;">
            <%= @userinfo.nickname %>
          </div>

          <div>
            <dl class="d-flex justify-content-center" style="margin: 0 0 13px;"><!-- 팔로워 팔로잉 -->
              <dt>팔로워:</dt>
              <dd>숫자</dd>
              <dt> | 팔로잉:</dt>
              <dd>숫자</dd>
            </dl>
            <% if current_user == @userinfo%>
            <div><!-- 설정버튼 -->
              <%= link_to "설정", edit_user_path(current_user), class: "btn btn-outline-primary btn-sm" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card-body" style="margin: 0 0 13px;"><!-- 자기소개~에스엔에스 -->
        <p class="mb-1">
          <%= @userinfo.introduction.presence || "自己紹介がありません" %>
        </p>
        <% if @userinfo.sns_link.present? %>
          <% url = @userinfo.sns_link =~ /\Ahttp(s)?:\/\// ? @userinfo.sns_link : "http://#{@userinfo.sns_link}" %>
          <% display_text = url.sub(/\Ahttps?:\/\//, "") %>
          <p>
            <%= link_to display_text, url, target: "_blank", rel: "noopener noreferrer" %>
          </p>
        <% end %>
      </div>

      <% if current_user == @userinfo%>
        <div><!-- 좋아요,북마크 -->
          <button class="btn"><!-- 북마크 -->
            <i class="fa-solid fa-bookmark"></i>
            <div>좋아요</div>
            <div>숫자</div>
          </button>
          <button class="btn"><!-- 좋아요 -->
            <i class="fa-solid fa-heart"></i>
            <div>좋아요</div>
            <div>숫자</div>
          </button>
        </div>
      <% end %>
    </div>

    <div><!-- 카드하부파트(공백) -->
    </div>

  </div>

  <div style="width: 8.333333333333332%; padding-left: 10px; padding-right: 10px;"><!-- 중간공간파트 -->
  </div>

  <div style="width: 66.66666666666666%; padding-left: 10px; padding-right: 10px;"><!-- 사진,좋아요,북마크파트 -->
    <div style="max-width: 700px; margin: 0 auto; padding: 50px 0 0;">
      <div style="margin: 0 0 60px;"><!-- 사진 -->
        <div class="d-flex justify-content-between"><!-- 사진갯수, 전체보기버튼 -->
          <h6>사진
            <span>갯수</span>
          </h6>
          <div>
            <%= link_to "전체보기", card_collections_user_path(@userinfo)%>
          </div>
        </div>

        <div class="d-flex justify-content-between"><!-- 사진 표시 -->
        
          <% posts = @userinfo.card_collections.limit(3) %>
            <% posts.each do |post| %>
              <div style="width: 160px; height: 160px;">
                <%= link_to card_collection_path(post) do %>
                  <% if post.photos.attached? %>
                    <%= image_tag url_for(post.photos.first.variant(resize_to_fill: [160, 160]).processed), alt: "게시물 사진", class: "rounded" %>
                  <% else %>
                    <!-- 사진이 없는 경우 빈 박스 -->
                    <div style="width: 160px; height: 160px; background-color: #f0f0f0;"></div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% (3 - posts.size).times do %>
              <% if current_user == @userinfo %>
                <div style="width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; border: 1px solid #ccc;" class="rounded">
                  <%= link_to "+", new_card_collection_path, class: "btn btn-link" %>
                </div>
              <%else%>
                <div style="width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; border: 1px solid #ccc;" class="rounded">
                  +
                </div>
              <% end %>
          <% end %>
          <div style="width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; border: 1px solid #ccc;" class="rounded">
            <%= link_to "더보기", card_collections_path, class: "btn btn-link" %>
          </div>
        </div>
        <% if current_user == @userinfo %>
          <%= link_to " + 사진 올리기", new_card_collection_path, class: "btn btn-info", style: "margin-top: 30px; width: 100%; line-height: 30px; padding: 14px 15px;" %>
        <% end %>
      </div>

      <div style="margin: 0 0 60px;"><!-- 북마크 -->
        <div class="d-flex justify-content-between"><!-- 북마크갯수, 전체보기버튼 -->
          <h6>북마크
            <span>갯수</span>
          </h6>
          <div>
            <%= link_to "전체보기", collections_user_path(@userinfo)%>
          </div>
        </div>

        <div class="d-flex justify-content-between"><!-- 사진 표시 -->
        
          <% posts = @userinfo.card_collections.limit(3) %>
            <% posts.each do |post| %>
              <div style="width: 160px; height: 160px;">
                <%= link_to card_collection_path(post) do %>
                  <% if post.photos.attached? %>
                    <%= image_tag url_for(post.photos.first.variant(resize_to_fill: [160, 160]).processed), alt: "게시물 사진", class: "rounded" %>
                  <% else %>
                    <!-- 사진이 없는 경우 빈 박스 -->
                    <div style="width: 160px; height: 160px; background-color: #f0f0f0;"></div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% (3 - posts.size).times do %>
              <div style="width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; border: 1px solid #ccc;" class="rounded">
                +
              </div>
          <% end %>
          <div style="width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; border: 1px solid #ccc;" class="rounded">
            <%= link_to "더보기", card_collections_path, class: "btn btn-link" %>
          </div>
        </div>
      </div>


      <% if current_user == @userinfo%>
        <div style="margin: 0 0 60px;"><!-- 좋아요 -->
          <div class="d-flex justify-content-between"><!-- 좋아요갯수, 전체보기버튼 -->
            <h6>좋아요
              <span>갯수</span>
            </h6>
            <div>
              <%= link_to "전체보기", likes_user_path(@userinfo)%>
            </div>
          </div>

          <div class="d-flex justify-content-between"><!-- 사진 표시 -->
          
            <% posts = @userinfo.card_collections.limit(3) %>
              <% posts.each do |post| %>
                <div style="width: 160px; height: 160px;">
                  <%= link_to card_collection_path(post) do %>
                    <% if post.photos.attached? %>
                      <%= image_tag url_for(post.photos.first.variant(resize_to_fill: [160, 160]).processed), alt: "게시물 사진", class: "rounded" %>
                    <% else %>
                      <!-- 사진이 없는 경우 빈 박스 -->
                      <div style="width: 160px; height: 160px; background-color: #f0f0f0;"></div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <% (3 - posts.size).times do %>
                <div style="width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; border: 1px solid #ccc;" class="rounded">
                  
                </div>
            <% end %>
            <div style="width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; border: 1px solid #ccc;" class="rounded">
              <%= link_to "더보기", card_collections_path, class: "btn btn-link" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>