<div>
  <%= form_with model: [:admin, @theme], local: true do |f| %>
    <div>
      <%= f.label :name, "테마 이름" %><br>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit "수정", class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to '돌아가기', admin_themes_path %>
    </div>
  <% end %>
</div>