<h1>全ユーザー一覧</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.nickname %> - <%= user.email %> - 管理者権限: <%= user.admin? ? "有" : "無" %>
      <!-- 관리자는 자신의 권한을 변경할 필요가 없으므로 current_user와 비교 -->
      <% unless user == current_user %>
        <% if user.admin? %>
          <%= link_to '管理者権限を取り消す', admin_user_path(user, user: { admin: false }), method: :patch, data: { confirm: '本当に取り消しますか？' } %>
        <% else %>
          <%= link_to '管理者権限を付与する', admin_user_path(user, user: { admin: true }), method: :patch, data: { confirm: '本当に付与しますか？' } %>
        <% end %>
      <% end %>
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>