<h1>全ユーザー一覧</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.nickname %> - <%= user.email %> - アクティブ: <%= user.active? ? "有" : "無" %>
    

      <!-- 활성화 상태 토글 -->
      <% if user.active? %>
        <%= link_to '非アクティブにする', admin_user_path(user, user: { active: false }), method: :patch, data: { confirm: '本当に非アクティブにしますか？' } %>
      <% else %>
        <%= link_to 'アクティブにする', admin_user_path(user, user: { active: true }), method: :patch, data: { confirm: '本当にアクティブにしますか？' } %>
      <% end %>
      
      <%= link_to 'コメント一覧', admin_user_card_collection_comments_path(user), class: "btn btn-link" %>

      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>
