<!DOCTYPE html>
<html>
  <head>
    <title>MrmiPrd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= action_cable_meta_tag %>

    <script src="https://kit.fontawesome.com/a8c774f65f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   

  </head>
  
  <body class= "d-flex flex-column justify-content-center" style="min-height: 100vh; margin: 0;">
    <% unless controller_name == "conversations"%>
      <header style="position: sticky; top: 0; z-index: 999; background-color: #fff;">
        <nav style="border-bottom: 1px solid #ddd;">
          <div class="container d-flex align-items-center" style="margin: 0 auto; height: 80px;">
            <% unless user_signed_in? %>
              <div class="d-flex d-sm-none align-items-center justify-content-between" style="width: 100%;">
                <div>
                  <%= link_to "MRMI", root_path, class: "navbar-brand", style: "color: inherit; font-weight: bold; margin-right: 30px; padding-left: 12px" %>
                </div>

                <div style="font-size: 10px;">
                  <div class="d-flex d-sm-none align-items-center justify-content-between" style="width: 100%;">
                    <div class="dropdown ms-2">
                      <div class="btn btn-link dropdown-toggle"
                              type="button"
                              id="xsMenuDropdown"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                              style="text-decoration: none; color: inherit; font-weight: 700; margin-left: 0px;">
                        <i class="fa-solid fa-bars" style="font-size: 20px"></i>
                      </div>
                      <ul class="dropdown-menu" aria-labelledby="xsMenuDropdown">
                        <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                          <%= link_to "About", about_path, 
                          class: "d-flex align-items-center dropdown-item", 
                          style: ";color: #2F3438;" %>
                        <% end %>

                        <li>
                          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, 
                          class: "d-flex align-items-center dropdown-item", 
                          style: "color: #2F3438;" %>
                        </li>
                        <li>
                          <%= link_to "ログイン", new_user_session_path,
                          class: "d-flex align-items-center dropdown-item", 
                          style: "color: #2F3438;" %>
                        </li>
                        <li>
                          <%= link_to "会員登録", new_user_registration_path,
                          class: "d-flex align-items-center dropdown-item", 
                          style: "color: #2F3438;" %>
                        </li>
                      </ul>
                    </div>
                  </div>


                </div>
            
              </div>
            <% else %>
              <div class="d-flex d-sm-none align-items-center justify-content-center" style="width: 100%;">
                <div>
                  <%= link_to "MRMI", root_path, class: "navbar-brand m-0", style: "color: inherit; font-weight: bold; font-size: 24px;" %>
                </div>
              </div>
            <% end %>
            
            <div class="d-none d-sm-flex align-items-center justify-content-between" style="width: 100%;">
              <div class="d-flex align-items-center justify-content-between" style="width: 15%;">   
                <div>
                  <%= link_to "MRMI", root_path, class: "navbar-brand", style: "color: inherit; font-weight: bold; margin-right: 50px;" %>
                </div>

                <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations"%>
                  <%= link_to "About", about_path,
                              class: "navbar-brand fw-bold d-none d-md-inline-block",
                              style: "color: inherit; font-weight: bold;" %>
                <% end %>
              </div>
              
                
              <% unless (controller_name == "card_collections" && (action_name == "new" || action_name == "edit")) || controller_name == "conversations"%>
                <div class="d-flex align-items-center">
                  <% if user_signed_in? %>
                    <div class="d-none d-sm-flex" style="margin-right: 20px;">
                      <div class="position-relative" style="width: 300px;">
                        <%= form_with url: searchs_path, method: :get, local: true, html: { style: "width:100%;position:relative;" } do |f| %>
                          <button type="submit"
                                  style="position:absolute;left:10px;top:50%;transform:translateY(-50%);background:none;border:none;padding:0;cursor:pointer;">
                            <i class="fa-solid fa-magnifying-glass" style="font-size:23.7px;color:#666;"></i>
                          </button>
                          <%= f.search_field :query,
                                placeholder: "Search",
                                aria: { label: "Search" },
                                style: "width:100%;padding-left:40px;height:36px;border:1px solid #ccc;border-radius:4px;" %>
                          <%= f.hidden_field :search_affect_type, value: "Typing" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="d-none d-sm-flex dropdown" style="margin:0 20px;">
                      <div data-bs-toggle="dropdown" class="btn btn-link p-0 border-0">
                        <%= image_tag current_user.get_profile_image,
                                      class: "rounded-circle", style:"width:35px;height:35px; object-fit: cover;" %>
                      </div>
                      
                      <% if current_user.email == "guest@example.com" %>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <!-- xs 에만 보이는 About -->
                          <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                            <li class="d-block d-md-none">
                              <%= link_to "About", about_path, class: "dropdown-item" %>
                            </li>
                          <% end %>
                      
                          <!-- xs 에만 보이는 投稿する -->
                          <li class="d-block d-md-none">
                            <% if current_user.email == "guest@example.com" %>
                              <%= link_to "投稿する", destroy_user_session_path,
                                          method: :delete,
                                          data: { confirm: "ログイン後に投稿してください" },
                                          class: "dropdown-item" %>
                            <% else %>
                              <%= link_to "投稿する", new_card_collection_path,
                                          class: "dropdown-item" %>
                            <% end %>
                          </li>
                      
                          <li class="d-md-none">
                            <hr class="dropdown-divider">
                          </li>
                          <!-- 기존 로그아웃/마이페이지 항목 -->
                          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                        </ul>
                      <% else %>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <!-- xs 에만 보이는 About -->
                          <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                            <li class="d-block d-md-none">
                              <%= link_to "About", about_path, class: "dropdown-item" %>
                            </li>
                          <% end %>
                      
                          <!-- xs 에만 보이는 投稿する -->
                          <li class="d-block d-md-none">
                            <% if current_user.email == "guest@example.com" %>
                              <%= link_to "投稿する", destroy_user_session_path,
                                          method: :delete,
                                          data: { confirm: "ログイン後に投稿してください" },
                                          class: "dropdown-item" %>
                            <% else %>
                              <%= link_to "投稿する", new_card_collection_path,
                                          class: "dropdown-item" %>
                            <% end %>
                          </li>
                      
                          <li class="d-md-none">
                            <hr class="dropdown-divider">
                          </li>
                          <!-- 기존 로그아웃/마이페이지 항목 -->
                          <li><%= link_to "ダイレクトメッセージ", conversations_path, class: "dropdown-item" %></li>
                          <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
                          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                        </ul>
                      <% end %>

                    </div>

                    <%= link_to "投稿する",
                        (user_signed_in? && current_user.email != "guest@example.com") ? new_card_collection_path : new_user_session_path,
                        class: "btn ms-3 d-none d-md-inline-flex",
                        method: (user_signed_in? && current_user.email == "guest@example.com") ? :delete : :get,
                        data: (user_signed_in? && current_user.email == "guest@example.com") ? { confirm: "ログイン後に投稿してください" } : {},
                        style: "display: inline-block;
                        margin: 0;
                        padding: 0;
                        border: none;
                        background: none;
                        font: inherit;
                        font-size: 14px;
                        line-height: 18px;
                        display: -webkit-inline-box;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        width: auto;
                        height: 40px;
                        border-radius: 4px;
                        padding: 0 16px;
                        font-weight: 400;
                        box-sizing: border-box;
                        text-align: center;
                        color: #FFFFFF;
                        background-color: #0AA5FF;
                        outline: none;
                        overflow: hidden;"%>

                  <% else %>

                    <div class="d-flex" style="font-size: 14px;">
                      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "d-flex align-items-center", style: "font-size: 14px;
                        line-height: 18px;
                        color: #2F3438;
                        padding: 0 10px;" %>
                      <%= link_to "ログイン", new_user_session_path,  class: "d-flex align-items-center", style: "font-size: 14px;
                        line-height: 18px;
                        color: #2F3438;
                        padding: 0 10px;
                        border-left: 1px solid #EAEDEF;" %>
                      <%= link_to "会員登録", new_user_registration_path, class: "d-flex align-items-center", style: "font-size: 14px;
                        line-height: 18px;
                        color: #2F3438;
                        padding: 0 10px;
                        border-left: 1px solid #EAEDEF;" %>
                    </div>
                    
                  <% end %>

              <% else %>
                <%= link_to "戻る", root_path, 
                            class: "btn", 
                            style: "display: inline-block;
                                    margin: 0;
                                    padding: 0;
                                    border: none;
                                    background: none;
                                    font: inherit;
                                    font-size: 14px;
                                    line-height: 18px;
                                    display: -webkit-inline-box;
                                    display: -webkit-inline-flex;
                                    display: -ms-inline-flexbox;
                                    display: inline-flex;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    -webkit-justify-content: center;
                                    justify-content: center;
                                    -webkit-align-items: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    width: auto;
                                    height: 40px;
                                    border-radius: 4px;
                                    padding: 0 16px;
                                    font-weight: 400;
                                    box-sizing: border-box;
                                    text-align: center;
                                    color: #FFFFFF;
                                    background-color: #0AA5FF;
                                    outline: none;
                                    overflow: hidden;" %>
              <% end %>

              
            </div>
          </div>
        </nav>


        <% if user_signed_in?%>
          <% unless (controller_name == "card_collections" && (action_name == "new" || action_name == "edit")) || controller_name == "conversations" %>
            <% unless controller_name == 'users' && action_name == 'show' && params[:id] != current_user.id.to_s %>
              <nav class="border-bottom">
                <div class="container">
                
                  <% if controller_name == 'users' %>
                    <div class="d-flex align-items-center justify-content-center " style="width: 100%;">
                    
                      <% if user_signed_in? && current_user.id.to_s == params[:id] %>
                        <div class="d-none d-sm-flex justify-content-center " >
                          <div class="d-flex" style="justify-content: space-between; align-items: center; height: 60px; font-size: 18px">
                            <%= link_to "プロフィール", user_path(current_user), class: "nav-link #{'active' if current_page?(user_path(current_user))}", style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                            <%= link_to "設定", edit_user_path(current_user), class: "nav-link #{'active' if current_page?(edit_user_path(current_user))}", style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                          </div>
                        </div>

                        <div class="d-flex d-sm-none align-items-center justify-content-between" style="width: 100%;">
                          <div class="dropdown ms-2">
                            <div class="btn btn-link nav-link dropdown-toggle"
                                    type="button"
                                    id="xsMenuDropdown"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    style="text-decoration: none; color: inherit; font-weight: 700; margin-left: 0px;">
                              <i class="fa-solid fa-bars" style="font-size: 16px"></i>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="xsMenuDropdown">
                              <li>
                                <%= link_to "プロフィール", user_path(current_user), class: "nav-link #{'active' if current_page?(user_path(current_user))}", style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                              </li>
                              <li>
                                <%= link_to "設定", edit_user_path(current_user), class: "nav-link #{'active' if current_page?(edit_user_path(current_user))}", style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                              </li>
                            </ul>
                          </div>
          
                          <div class="d-flex">
                            <div class="d-flex align-items-center">
                              <div style="width: 160px; position: relative; ">
                                <%= form_with url: searchs_path, method: :get, local: true, html: { style: "width:100%;position:relative;" } do |f| %>
                                  <button type="submit"
                                          style="position:absolute; left:10px; top:50%; transform:translateY(-50%); background:none; border:none; padding:0; cursor:pointer;">
                                    <i class="fa-solid fa-magnifying-glass" style="font-size:15px;color:#666;"></i>
                                  </button>
                                  <%= f.search_field :query,
                                        class: "d-flex aling-items-center",
                                        placeholder: "Search",
                                        aria: { label: "Search" },
                                        style: "width:100%;padding-left:30px;height:30px;border:1px solid #ccc;border-radius:4px;" %>
                                  <%= f.hidden_field :search_affect_type, value: "Typing" %>
                                <% end %>
                              </div>
                            </div>

          
                            <div class="dropdown" style="margin:0 20px;">
                              <div data-bs-toggle="dropdown" class="btn btn-link p-0 border-0">
                                <%= image_tag current_user.get_profile_image,
                                              class: "rounded-circle", style:"width:30px;height:30px; object-fit: cover;" %>
                              </div>
                              
                              <% if current_user.email == "guest@example.com" %>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <!-- xs 에만 보이는 About -->
                                  <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                                    <li class="d-block d-md-none">
                                      <%= link_to "About", about_path, class: "dropdown-item" %>
                                    </li>
                                  <% end %>
                              
                                  <!-- xs 에만 보이는 投稿する -->
                                  <li class="d-block d-md-none">
                                    <% if current_user.email == "guest@example.com" %>
                                      <%= link_to "投稿する", destroy_user_session_path,
                                                  method: :delete,
                                                  data: { confirm: "ログイン後に投稿してください" },
                                                  class: "dropdown-item" %>
                                    <% else %>
                                      <%= link_to "投稿する", new_card_collection_path,
                                                  class: "dropdown-item" %>
                                    <% end %>
                                  </li>
                              
                                  <li class="d-md-none">
                                    <hr class="dropdown-divider">
                                  </li>
                                  <!-- 기존 로그아웃/마이페이지 항목 -->
                                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                                </ul>
                              <% else %>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <!-- xs 에만 보이는 About -->
                                  <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                                    <li class="d-block d-md-none">
                                      <%= link_to "About", about_path, class: "dropdown-item" %>
                                    </li>
                                  <% end %>
                              
                                  <!-- xs 에만 보이는 投稿する -->
                                  <li class="d-block d-md-none">
                                    <% if current_user.email == "guest@example.com" %>
                                      <%= link_to "投稿する", destroy_user_session_path,
                                                  method: :delete,
                                                  data: { confirm: "ログイン後に投稿してください" },
                                                  class: "dropdown-item" %>
                                    <% else %>
                                      <%= link_to "投稿する", new_card_collection_path,
                                                  class: "dropdown-item" %>
                                    <% end %>
                                  </li>
                              
                                  <li class="d-md-none">
                                    <hr class="dropdown-divider">
                                  </li>
                                  <!-- 기존 로그아웃/마이페이지 항목 -->
                                  <li><%= link_to "ダイレクトメッセージ", conversations_path, class: "dropdown-item" %></li>
                                  <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
                                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                                </ul>
                              <% end %>
          
                            </div>
                          </div>
                        </div>
                      

                      <% end %>
                    </div>
                  <% else %>
                    <!-- LG 이상(≥992px): 모든 링크 노출 -->
                    <div class="d-none d-lg-flex">
                      <div class="d-flex flex-nowrap  overflow-auto  scroll-on-hover  justify-content-start">
                        <%= link_to "ホーム", root_path,
                                    class: "nav-link active flex-shrink-0",
                                    style: "text-decoration: none; color: inherit; font-weight: 700; padding-left: 0px; margin-left: 0px;" %>
                        <%= link_to "すべての写真", card_collections_path,
                                    class: "nav-link active flex-shrink-0",
                                    style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                        <%= link_to "おすすめ（部屋の写真、その他）", recommend_path,
                                    class: "nav-link active flex-shrink-0",
                                    style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                        <%= link_to "#チャンネル", hashtag_channel_path,
                                    class: "nav-link active flex-shrink-0",
                                    style: "text-decoration: none; color: inherit; font-weight: 700;" %>

                        <% Theme.where.not(name: ["お部屋写真","その他"]).each do |theme| %>
                          <%= link_to theme.name,
                                      topic_path(theme.name),
                                      class: "nav-link #{'active' if params[:topic]==theme.name} flex-shrink-0",
                                      style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                        <% end %>
                      </div>
                    </div>

                    <!-- MD 이상(≥768px, <992px): "すべての写真", "おすすめ", "#チャンネル"만 노출, 나머지는 토글 -->
                    <div class="d-none d-md-flex d-lg-none align-items-center">
                      <%= link_to "すべての写真", card_collections_path,
                                  class: "nav-link active",
                                  style: "text-decoration: none; color: inherit; margin-left:16px; font-weight: 700; padding-left: 0px; margin-left: 0px;" %>
                      <%= link_to "おすすめ（部屋の写真、その他）", recommend_path,
                                  class: "nav-link active",
                                  style: "text-decoration: none; color: inherit; font-weight: 700;" %>
                      <%= link_to "#チャンネル", hashtag_channel_path,
                                  class: "nav-link active",
                                  style: "text-decoration: none; color: inherit; font-weight: 700;" %>

                      <div class="dropdown ms-2">
                        <div class="btn btn-link nav-link dropdown-toggle"
                                type="button"
                                id="xsMenuDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="text-decoration: none; color: inherit; font-weight: 700; margin-left: 0px;">
                          <i class="fas fa-chevron-down" style="font-size: 16px"></i>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="mdThemesDropdown">
                          <% Theme.where.not(name: ["お部屋写真","その他"]).each do |theme| %>
                            <li>
                              <%= link_to theme.name,
                                          topic_path(theme.name),
                                          class: "dropdown-item #{'active' if params[:topic]==theme.name}" %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>

                    <!-- SM 이상(≥576px, <768px): "すべての写真", "#チャンネル"만 노출, "おすすめ"과 나머지 테마는 토글 -->
                    <div class="d-none d-sm-flex d-md-none align-items-center">
                      <%= link_to "すべての写真", card_collections_path,
                                  class: "nav-link active",
                                  style: "text-decoration: none; color: inherit; margin-left:16px; font-weight: 700; padding-left: 0px; margin-left: 0px;" %>
                      <%= link_to "#チャンネル", hashtag_channel_path,
                                  class: "nav-link active",
                                  style: "text-decoration: none; color: inherit; font-weight: 700;" %>

                      <div class="dropdown ms-2">
                        <div class="btn btn-link nav-link dropdown-toggle"
                                type="button"
                                id="xsMenuDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="text-decoration: none; color: inherit; font-weight: 700; margin-left: 0px;">
                          <i class="fas fa-chevron-down" style="font-size: 16px"></i>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="smMenuDropdown">
                          <li>
                            <%= link_to "おすすめ（部屋の写真、その他）", recommend_path,
                                        class: "dropdown-item" %>
                          </li>
                          <% Theme.where.not(name: ["お部屋写真","その他"]).each do |theme| %>
                            <li>
                              <%= link_to theme.name,
                                          topic_path(theme.name),
                                          class: "dropdown-item #{'active' if params[:topic]==theme.name}" %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>

                    <!-- XS(<576px): "すべての写真"만 노출, 나머지는 토글 -->
                    <div class="d-flex d-sm-none align-items-center justify-content-between" style="width: 100%;">
                      <div class="dropdown ms-2">
                        <div class="btn btn-link nav-link dropdown-toggle"
                                type="button"
                                id="xsMenuDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="text-decoration: none; color: inherit; font-weight: 700; margin-left: 0px;">
                          <i class="fa-solid fa-bars" style="font-size: 16px"></i>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="xsMenuDropdown">
                          <li>
                            <%= link_to "すべての写真", card_collections_path,
                                        class: "dropdown-item"%>
                          </li>
                          <li>
                            <%= link_to "おすすめ（部屋の写真、その他）", recommend_path,
                                        class: "dropdown-item" %>
                          </li>
                          <li>
                            <%= link_to "#チャンネル", hashtag_channel_path,
                                        class: "dropdown-item" %>
                          </li>

                          <% Theme.where.not(name: ["お部屋写真","その他"]).each do |theme| %>
                            <li>
                              <%= link_to theme.name,
                                          topic_path(theme.name),
                                          class: "dropdown-item #{'active' if params[:topic]==theme.name}" %>
                            </li>
                          <% end %>
                        </ul>
                      </div>

                      <div class="d-flex">
                        <div class="d-flex align-items-center">
                          <div style="width: 160px; position: relative; ">
                            <%= form_with url: searchs_path, method: :get, local: true, html: { style: "width:100%;position:relative;" } do |f| %>
                              <button type="submit"
                                      style="position:absolute; left:10px; top:50%; transform:translateY(-50%); background:none; border:none; padding:0; cursor:pointer;">
                                <i class="fa-solid fa-magnifying-glass" style="font-size:15px;color:#666;"></i>
                              </button>
                              <%= f.search_field :query,
                                    class: "d-flex aling-items-center",
                                    placeholder: "Search",
                                    aria: { label: "Search" },
                                    style: "width:100%;padding-left:30px;height:30px;border:1px solid #ccc;border-radius:4px;" %>
                              <%= f.hidden_field :search_affect_type, value: "Typing" %>
                            <% end %>
                          </div>
                        </div>

                        <div class="dropdown" style="margin:0 20px;">
                          <div data-bs-toggle="dropdown" class="btn btn-link p-0 border-0">
                            <%= image_tag current_user.get_profile_image,
                                          class: "rounded-circle", style:"width:30px;height:30px; object-fit: cover;" %>
                          </div>
                          
                          <% if current_user.email == "guest@example.com" %>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <!-- xs 에만 보이는 About -->
                              <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                                <li class="d-block d-md-none">
                                  <%= link_to "About", about_path, class: "dropdown-item" %>
                                </li>
                              <% end %>
                          
                              <!-- xs 에만 보이는 投稿する -->
                              <li class="d-block d-md-none">
                                <% if current_user.email == "guest@example.com" %>
                                  <%= link_to "投稿する", destroy_user_session_path,
                                              method: :delete,
                                              data: { confirm: "ログイン後に投稿してください" },
                                              class: "dropdown-item" %>
                                <% else %>
                                  <%= link_to "投稿する", new_card_collection_path,
                                              class: "dropdown-item" %>
                                <% end %>
                              </li>
                          
                              <li class="d-md-none">
                                <hr class="dropdown-divider">
                              </li>
                              <!-- 기존 로그아웃/마이페이지 항목 -->
                              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                            </ul>
                          <% else %>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <!-- xs 에만 보이는 About -->
                              <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                                <li class="d-block d-md-none">
                                  <%= link_to "About", about_path, class: "dropdown-item" %>
                                </li>
                              <% end %>
                          
                              <!-- xs 에만 보이는 投稿する -->
                              <li class="d-block d-md-none">
                                <% if current_user.email == "guest@example.com" %>
                                  <%= link_to "投稿する", destroy_user_session_path,
                                              method: :delete,
                                              data: { confirm: "ログイン後に投稿してください" },
                                              class: "dropdown-item" %>
                                <% else %>
                                  <%= link_to "投稿する", new_card_collection_path,
                                              class: "dropdown-item" %>
                                <% end %>
                              </li>
                          
                              <li class="d-md-none">
                                <hr class="dropdown-divider">
                              </li>
                              <!-- 기존 로그아웃/마이페이지 항목 -->
                              <li><%= link_to "ダイレクトメッセージ", conversations_path, class: "dropdown-item" %></li>
                              <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
                              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                            </ul>
                          <% end %>

                        </div>
                      </div>
                    </div>

                  <% end %>
                </div>
              </nav>
            <% else %>
              <nav class="d-flex d-sm-none border-bottom">
                <div class="container d-flex align-items-center" style="margin: 0 auto; padding-right: 15px; padding-left: 15px;">
                  <div class="d-flex align-items-center justify-content-end  " style="width: 100%;">

                      <div>
                        <div class="d-flex aling-items-center", style="width: 180px; position: relative; ">
                          <%= form_with url: searchs_path, method: :get, local: true, html: { style: "width:100%;position:relative;" } do |f| %>
                            <button type="submit"
                                    style="position:absolute; left:10px; top:50%; transform:translateY(-50%); background:none; border:none; padding:0; cursor:pointer;">
                              <i class="fa-solid fa-magnifying-glass" style="font-size:15px;color:#666;"></i>
                            </button>
                            <%= f.search_field :query,
                                  class: "d-flex aling-items-center",
                                  placeholder: "Search",
                                  aria: { label: "Search" },
                                  style: "width:100%;padding-left:30px;height:30px;border:1px solid #ccc;border-radius:4px;" %>
                            <%= f.hidden_field :search_affect_type, value: "Typing" %>
                          <% end %>
                        </div>
                      </div>

                      <div class="dropdown" style="margin:0 20px;">
                        <div data-bs-toggle="dropdown" class="btn btn-link p-0 border-0">
                          <%= image_tag current_user.get_profile_image,
                                        class: "rounded-circle", style:"width:35px;height:35px; object-fit: cover;" %>
                        </div>
                        
                        <% if current_user.email == "guest@example.com" %>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <!-- xs 에만 보이는 About -->
                            <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                              <li class="d-block d-md-none">
                                <%= link_to "About", about_path, class: "dropdown-item" %>
                              </li>
                            <% end %>
                        
                            <!-- xs 에만 보이는 投稿する -->
                            <li class="d-block d-md-none">
                              <% if current_user.email == "guest@example.com" %>
                                <%= link_to "投稿する", destroy_user_session_path,
                                            method: :delete,
                                            data: { confirm: "ログイン後に投稿してください" },
                                            class: "dropdown-item" %>
                              <% else %>
                                <%= link_to "投稿する", new_card_collection_path,
                                            class: "dropdown-item" %>
                              <% end %>
                            </li>
                        
                            <li class="d-md-none">
                              <hr class="dropdown-divider">
                            </li>
                            <!-- 기존 로그아웃/마이페이지 항목 -->
                            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                          </ul>
                        <% else %>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <!-- xs 에만 보이는 About -->
                            <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                              <li class="d-block d-md-none">
                                <%= link_to "About", about_path, class: "dropdown-item" %>
                              </li>
                            <% end %>
                        
                            <!-- xs 에만 보이는 投稿する -->
                            <li class="d-block d-md-none">
                              <% if current_user.email == "guest@example.com" %>
                                <%= link_to "投稿する", destroy_user_session_path,
                                            method: :delete,
                                            data: { confirm: "ログイン後に投稿してください" },
                                            class: "dropdown-item" %>
                              <% else %>
                                <%= link_to "投稿する", new_card_collection_path,
                                            class: "dropdown-item" %>
                              <% end %>
                            </li>
                        
                            <li class="d-md-none">
                              <hr class="dropdown-divider">
                            </li>
                            <!-- 기존 로그아웃/마이페이지 항목 -->
                            <li><%= link_to "ダイレクトメッセージ", conversations_path, class: "dropdown-item" %></li>
                            <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
                            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                          </ul>
                        <% end %>

                      </div>

                  </div>

                </div>
              </nav>


              <nav class="d-none d-sm-flex">
                <div class="container d-flex align-items-center" style="margin: 0 auto; padding-right: 15px; padding-left: 15px;">
                  <div class="d-flex d-sm-none align-items-center justify-content-end  " style="width: 100%;">

                      <div>
                        <div class="d-flex aling-items-center", style="width: 180px; position: relative; ">
                          <%= form_with url: searchs_path, method: :get, local: true, html: { style: "width:100%;position:relative;" } do |f| %>
                            <button type="submit"
                                    style="position:absolute; left:10px; top:50%; transform:translateY(-50%); background:none; border:none; padding:0; cursor:pointer;">
                              <i class="fa-solid fa-magnifying-glass" style="font-size:15px;color:#666;"></i>
                            </button>
                            <%= f.search_field :query,
                                  class: "d-flex aling-items-center",
                                  placeholder: "Search",
                                  aria: { label: "Search" },
                                  style: "width:100%;padding-left:30px;height:30px;border:1px solid #ccc;border-radius:4px;" %>
                            <%= f.hidden_field :search_affect_type, value: "Typing" %>
                          <% end %>
                        </div>
                      </div>

                      <div class="dropdown" style="margin:0 20px;">
                        <div data-bs-toggle="dropdown" class="btn btn-link p-0 border-0">
                          <%= image_tag current_user.get_profile_image,
                                        class: "rounded-circle", style:"width:35px;height:35px; object-fit: cover;" %>
                        </div>
                        
                        <% if current_user.email == "guest@example.com" %>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <!-- xs 에만 보이는 About -->
                            <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                              <li class="d-block d-md-none">
                                <%= link_to "About", about_path, class: "dropdown-item" %>
                              </li>
                            <% end %>
                        
                            <!-- xs 에만 보이는 投稿する -->
                            <li class="d-block d-md-none">
                              <% if current_user.email == "guest@example.com" %>
                                <%= link_to "投稿する", destroy_user_session_path,
                                            method: :delete,
                                            data: { confirm: "ログイン後に投稿してください" },
                                            class: "dropdown-item" %>
                              <% else %>
                                <%= link_to "投稿する", new_card_collection_path,
                                            class: "dropdown-item" %>
                              <% end %>
                            </li>
                        
                            <li class="d-md-none">
                              <hr class="dropdown-divider">
                            </li>
                            <!-- 기존 로그아웃/마이페이지 항목 -->
                            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                          </ul>
                        <% else %>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <!-- xs 에만 보이는 About -->
                            <% unless (controller_name == "card_collections" && %w[new edit].include?(action_name)) || controller_name == "conversations" %>
                              <li class="d-block d-md-none">
                                <%= link_to "About", about_path, class: "dropdown-item" %>
                              </li>
                            <% end %>
                        
                            <!-- xs 에만 보이는 投稿する -->
                            <li class="d-block d-md-none">
                              <% if current_user.email == "guest@example.com" %>
                                <%= link_to "投稿する", destroy_user_session_path,
                                            method: :delete,
                                            data: { confirm: "ログイン後に投稿してください" },
                                            class: "dropdown-item" %>
                              <% else %>
                                <%= link_to "投稿する", new_card_collection_path,
                                            class: "dropdown-item" %>
                              <% end %>
                            </li>
                        
                            <li class="d-md-none">
                              <hr class="dropdown-divider">
                            </li>
                            <!-- 기존 로그아웃/마이페이지 항목 -->
                            <li><%= link_to "ダイレクトメッセージ", conversations_path, class: "dropdown-item" %></li>
                            <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
                            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                          </ul>
                        <% end %>

                      </div>

                  </div>

                </div>
              </nav>
            <% end %>
            
            <% if controller_name == 'users'%>
              <nav class="border-bottom">
                <div class="container px-3 overflow-auto">
                  <ul class="nav justify-content-center flex-nowrap" style="font-size: 15px;">
                    <% if controller_name == 'users' && ['edit', 'edit_password'].include?(action_name) %>
                      <li class="nav-item me-3">
                        <%= link_to "プロフィール編集",
                                    edit_user_path(current_user),
                                    class: "nav-link #{'active' if action_name == 'edit'} text-nowrap",
                                    style: "text-decoration: none; color: inherit;" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "パスワード変更",
                                    edit_password_user_path(current_user),
                                    class: "nav-link #{'active' if action_name == 'edit_password'} text-nowrap",
                                    style: "text-decoration: none; color: inherit;" %>
                      </li>
              
                    <% elsif controller_name == 'users' && ['show', 'card_collections', 'likes', 'collections', 'follower', 'followee'].include?(action_name) %>
                      <% if user_signed_in? && current_user.id.to_s == params[:id] %>
                        <li class="nav-item me-3">
                          <%= link_to "すべて表示",
                                      user_path(current_user),
                                      class: "nav-link #{'active' if params[:sub] == 'all' || params[:sub].blank?} text-nowrap",
                                      style: "text-decoration: none; color: inherit;" %>
                        </li>
                        <li class="nav-item me-3">
                          <%= link_to "写真",
                                      card_collections_user_path(current_user),
                                      class: "nav-link #{'active' if params[:sub] == 'card_collections'} text-nowrap",
                                      style: "text-decoration: none; color: inherit;" %>
                        </li>
                        <li class="nav-item me-3">
                          <%= link_to "いいね",
                                      likes_user_path(current_user),
                                      class: "nav-link #{'active' if params[:sub] == 'likes'} text-nowrap",
                                      style: "text-decoration: none; color: inherit;" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "ブックマーク",
                                      collections_user_path(current_user),
                                      class: "nav-link #{'active' if params[:sub] == 'collections'} text-nowrap",
                                      style: "text-decoration: none; color: inherit;" %>
                        </li>
                      <% else %>
                        <li class="nav-item me-3">
                          <%= link_to "すべて表示",
                                      user_path(@userinfo),
                                      class: "nav-link #{'active' if params[:sub] == 'all' || params[:sub].blank?} text-nowrap",
                                      style: "text-decoration: none; color: inherit;" %>
                        </li>
                        <li class="nav-item me-3">
                          <%= link_to "写真",
                                      card_collections_user_path(@userinfo),
                                      class: "nav-link #{'active' if params[:sub] == 'card_collections'} text-nowrap",
                                      style: "text-decoration: none; color: inherit;" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "ブックマーク",
                                      collections_user_path(@userinfo),
                                      class: "nav-link #{'active' if params[:sub] == 'collections'} text-nowrap",
                                      style: "text-decoration: none; color: inherit;" %>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </nav>
            <% end %>
        
          <% end %>
        <% end %>
      </header>
    <% end %>
    
    <main style="flex: 1;">
      <div class="container">
        <div class="card" style="border: 0px">
          <%= yield %>
        </div>
      </div>
    </main>

    <% unless (controller_name == "card_collections" && (action_name == "new" || action_name == "edit")) ||
          %w[sessions registrations passwords confirmations conversations].include?(controller_name) %>
      <footer class="bg-light mt-5">
        <div class="container py-5">

          <!-- XS–SM: 각 섹션 아래에 구분선 -->
          <div class="d-sm-block d-md-none">
            <div class="row text-secondary small gy-4">
              <div class="col-12 pb-3 border-bottom mb-3">
                <h5 class="fw-bold">カスタマーセンター &gt;</h5>
                <p class="mb-1 fw-bold fs-4">
                  080-xxxx-xxxx<br><small>(09:00 ~ 18:00)</small>
                </p>
                <p class="mb-1">昼休み: 12時～13時は対応しておりません</p>
                <p class="mb-0">平日、祝日は休業</p>
                <a href="https://mail.google.com/"
                            style="
                            display: inline-block;
                            margin-top: 8px;
                            background-color: #0AA5FF;
                            color: #fff;
                            text-decoration: none;
                            border: none;
                            border-radius: 4px;
                            padding: 8px 16px;
                            cursor: pointer;
                            width: 200px;
                          "
                        >
                メールでのお問い合わせ
                </a>
              </div>
              <div class="col-12 pb-3 border-bottom mb-3">
                <div class="d-flex flex-wrap gap-2 fw-bold mb-2">
                  <a href="#" class="text-secondary text-decoration-none m-1">会社概要</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">採用情報</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">広告お問い合わせ</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">利用規約</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">プライバシーポリシー</a>
                </div>
                <p class="mb-1">株式会社MRMI | 東京都板橋区</p>
                <p class="mb-0">bjking102409@gmail.com | 事業者登録番号: portfolio | 通信販売業: portfolio</p>
              </div>
              <div class="col-12 text-center">
                <img src="<%= asset_path('mrmiLogo.png') %>" alt="mrmiLogo"
                    class="rounded mb-2" style="width:80px; height:auto;">
                <p class="text-muted small mb-0">&copy; <%= Time.current.year %> MRMI Prd.</p>
              </div>
            </div>
          </div>

          <!-- MD only: 두 컬럼 + 한 줄 구분선 -->
          <div class="d-none d-md-block d-lg-none">
            <div class="row text-secondary small gy-4">
              <div class="col-6">
                <h5 class="fw-bold">カスタマーセンター &gt;</h5>
                <p class="mb-1 fw-bold fs-4">
                  080-xxxx-xxxx<br><small>(09:00 ~ 18:00)</small>
                </p>
                <p class="mb-1">昼休み: 12時～13時は対応しておりません</p>
                <p class="mb-0">平日、祝日は休業</p>
                <a href="https://mail.google.com/"
                              style="
                              display: inline-block;
                              margin-top: 8px;
                              background-color: #0AA5FF;
                              color: #fff;
                              text-decoration: none;
                              border: none;
                              border-radius: 4px;
                              padding: 8px 16px;
                              cursor: pointer;
                              width: 200px;
                            "
                          >
                  メールでのお問い合わせ
                </a>
              </div>
              <div class="col-6">
                <div class="d-flex flex-wrap gap-2 fw-bold mb-2">
                  <a href="#" class="text-secondary text-decoration-none m-1">会社概要</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">採用情報</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">広告お問い合わせ</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">利用規約</a>
                  <a href="#" class="text-secondary text-decoration-none m-1">プライバシーポリシー</a>
                </div>
                <p class="mb-1">株式会社MRMI | 東京都板橋区</p>
                <p class="mb-0">bjking102409@gmail.com | 事業者登録番号: portfolio | 通信販売業: portfolio</p>
              </div>
            </div>
            <hr class="my-4">
            <div class="row">
              <div class="col text-center">
                <img src="<%= asset_path('mrmiLogo.png') %>" alt="mrmiLogo"
                    class="rounded mb-2" style="width:80px; height:auto;">
                <p class="text-muted small mb-0">&copy; <%= Time.current.year %> MRMI Prd.</p>
              </div>
            </div>
          </div>

          <!-- LG 이상: 3단 레이아웃 + 각 섹션 사이 border-end -->
          <div class="d-none d-lg-block">
            <div class="row text-secondary small gy-4 align-items-stretch">
              <!-- 고객센터 -->
              <div class="col-12 col-md-6 col-lg-4 border-end border-secondary">
                <div class="pe-4 h-100 d-flex flex-column justify-content-start">
                  <h5 class="fw-bold">カスタマーセンター &gt;</h5>
                  <p class="mb-1 fw-bold fs-4">
                    080-xxxx-xxxx<br><small>(09:00 ~ 18:00)</small>
                  </p>
                  <p class="mb-1">昼休み: 12時～13時は対応しておりません</p>
                  <p class="mb-0">平日、祝日は休業</p>
                  <a href="https://mail.google.com/"
                              style="
                                display: inline-block;
                                margin-top: 8px;
                                background-color: #0AA5FF;
                                color: #fff;
                                text-decoration: none;
                                border: none;
                                border-radius: 4px;
                                padding: 8px 16px;
                                cursor: pointer;
                                width: 200px;
                              "
                            >
                    メールでのお問い合わせ
                  </a>
                </div>
              </div>

              <!-- 회사 정보 -->
              <div class="col-12 col-md-6 col-lg-5 border-end border-secondary">
                <div class="pe-4 h-100 d-flex flex-column justify-content-start">
                  <div class="d-flex flex-wrap gap-2 fw-bold mb-2">
                    <a href="#" class="text-secondary text-decoration-none m-2">会社概要</a>
                    <a href="#" class="text-secondary text-decoration-none m-2">採用情報</a>
                    <a href="#" class="text-secondary text-decoration-none m-2">広告お問い合わせ</a>
                    <a href="#" class="text-secondary text-decoration-none m-2">利用規約</a>
                    <a href="#" class="text-secondary text-decoration-none m-2">プライバシーポリシー</a>
                  </div>
                  <p class="mb-1">株式会社MRMI | 東京都板橋区</p>
                  <p class="mb-0">bjking102409@gmail.com | 事業者登録番号: portfolio | 通信販売業: portfolio</p>
                </div>
              </div>

              <!-- 로고 & 카피라이트 -->
              <div class="col-12 col-lg-3 text-center text-md-end mt-3 mt-lg-0">
                <div class="h-100 d-flex flex-column justify-content-start align-items-center ">
                  <img src="<%= asset_path('mrmiLogo.png') %>" alt="mrmiLogo"
                        class="rounded mb-2" style="width:80px; height:auto;">
                  <p class="text-muted small mb-0">&copy; <%= Time.current.year %> MRMI Prd.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </footer>
    <% end %>
  </body>
</html>
